<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageEngineerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:13:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								FGsarNOkDdhI
								olmCwxj8HQ==
								</data>
								<key>Size</key>
								<integer>4805</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageFutureTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:20:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								t1AWERlrugOC
								bhcNPm5HBA==
								</data>
								<key>Size</key>
								<integer>4631</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PrMfC2uPc+XZ
								7GLiEboY5Q==
								</data>
								<key>Size</key>
								<integer>4075</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageEngineerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:13:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lH85Irb0FUDT
								FIndpcW+Kw==
								</data>
								<key>Size</key>
								<integer>1653</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+asE1p6RiNOM
								Ue2yMyBumw==
								</data>
								<key>Size</key>
								<integer>8149</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageFutureTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:20:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								gImT0ufUtbvk
								Hwhj6Y15Bw==
								</data>
								<key>Size</key>
								<integer>1705</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HsjQ6bXhx7jt
								2c496GJOPw==
								</data>
								<key>Size</key>
								<integer>7975</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lH85Irb0FUDT
								FIndpcW+Kw==
								</data>
								<key>Size</key>
								<integer>1653</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EhyB17mwh0JS
								Nlqt+pcE8g==
								</data>
								<key>Size</key>
								<integer>7408</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageEngineerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:13:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageFutureTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:20:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageEngineerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:13:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageFutureTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:20:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Engineer - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageEngineerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:13:15Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								gGqWfiGqOh8D
								ievmLYfd8A==
								</data>
								<key>Size</key>
								<integer>183864</integer>
							</dict>
							<key>fonts/Lato-Light.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								/BuxgdcTU82k
								m0CqGThLvQ==
								</data>
								<key>Size</key>
								<integer>24292</integer>
							</dict>
							<key>fonts/Lato-Light.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								VNPP4M7HNJJa
								Ic6/43ihLg==
								</data>
								<key>Size</key>
								<integer>79706</integer>
							</dict>
							<key>fonts/Lato-Light.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								SdhPgvSUrsj2
								NxD9LVW6QQ==
								</data>
								<key>Size</key>
								<integer>63044</integer>
							</dict>
							<key>fonts/Lato-Light.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								uiRSvceQpP7g
								UgLqw8CSsw==
								</data>
								<key>Size</key>
								<integer>29852</integer>
							</dict>
							<key>fonts/Lato-Light.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								u70mru6cW5Z+
								NZM7zgLTWA==
								</data>
								<key>Size</key>
								<integer>23208</integer>
							</dict>
							<key>fonts/Lato-Regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								am1xUIemisWt
								eQtPe7sXZg==
								</data>
								<key>Size</key>
								<integer>26332</integer>
							</dict>
							<key>fonts/Lato-Regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kIfkpqzuzJsp
								FIIwRJUaOg==
								</data>
								<key>Size</key>
								<integer>80331</integer>
							</dict>
							<key>fonts/Lato-Regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								2kt5voxYj1Y1
								Hk1jaPzb4Q==
								</data>
								<key>Size</key>
								<integer>60100</integer>
							</dict>
							<key>fonts/Lato-Regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								YvtR6eZF9jWZ
								I4iBud4V3Q==
								</data>
								<key>Size</key>
								<integer>28412</integer>
							</dict>
							<key>fonts/Lato-Regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								8aSgWPu6HjWk
								BhiK5+3a+A==
								</data>
								<key>Size</key>
								<integer>23316</integer>
							</dict>
							<key>fonts/Raleway-Black.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								jzjqcnOa+5EL
								xs4kv0Td1g==
								</data>
								<key>Size</key>
								<integer>24140</integer>
							</dict>
							<key>fonts/Raleway-Black.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								xdl8wLothMyk
								ATEcwAS1SA==
								</data>
								<key>Size</key>
								<integer>56197</integer>
							</dict>
							<key>fonts/Raleway-Black.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								5PrUDIEEQKM8
								Vx/rVmyPJQ==
								</data>
								<key>Size</key>
								<integer>54308</integer>
							</dict>
							<key>fonts/Raleway-Black.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								pY8l3If67BI9
								2YXGCs1U/w==
								</data>
								<key>Size</key>
								<integer>25340</integer>
							</dict>
							<key>fonts/Raleway-Black.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								D4Xkv+hl3voY
								WI/I6ESGEQ==
								</data>
								<key>Size</key>
								<integer>20840</integer>
							</dict>
							<key>fonts/Raleway-Bold.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nLI+3oasLFFA
								ygiCusEgNQ==
								</data>
								<key>Size</key>
								<integer>23794</integer>
							</dict>
							<key>fonts/Raleway-Bold.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								BZDIN1mPL/LB
								/fzT31piSA==
								</data>
								<key>Size</key>
								<integer>57967</integer>
							</dict>
							<key>fonts/Raleway-Bold.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Qy1YeVfmqVah
								mVq12najMQ==
								</data>
								<key>Size</key>
								<integer>53732</integer>
							</dict>
							<key>fonts/Raleway-Bold.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								UJj4yKpUKCTN
								VBDvkD5I4A==
								</data>
								<key>Size</key>
								<integer>25176</integer>
							</dict>
							<key>fonts/Raleway-Bold.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								3L6HA6Chd7aS
								EhJ0reVzzw==
								</data>
								<key>Size</key>
								<integer>20612</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Q11Et69xtpa
								bxp3q0hZ6g==
								</data>
								<key>Size</key>
								<integer>399454</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								HwPpeo3DaKrx
								AfHMipzI5w==
								</data>
								<key>Size</key>
								<integer>155418</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Engineer</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Engineer</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Future - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageFutureTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:20:21Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3JMgR8GulOwK
								MU+dyORUWQ==
								</data>
								<key>Size</key>
								<integer>181375</integer>
							</dict>
							<key>images/banners/default.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								jbsOG/bNeMj2
								PnQSaD0LQw==
								</data>
								<key>Size</key>
								<integer>110431</integer>
							</dict>
							<key>js/main.js</key>
							<dict>
								<key>Digest</key>
								<data>
								zCNJWjN975o8
								Vh1hhm8CnQ==
								</data>
								<key>Size</key>
								<integer>155733</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Future</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Future</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:split - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/k6VnXxv4lAI
								/Ju29QwPRA==
								</data>
								<key>Size</key>
								<integer>23077</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nQMz0lOrJqhH
								dQvqEu8GfA==
								</data>
								<key>Size</key>
								<integer>21180</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								lGaWAv/l81kb
								SKqPsUrBgA==
								</data>
								<key>Size</key>
								<integer>65455</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								4a4aDLUdMo2b
								jgQm9Iub6Q==
								</data>
								<key>Size</key>
								<integer>39324</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								qwYW5thWgX7/
								VOuMXhZk5A==
								</data>
								<key>Size</key>
								<integer>23036</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								+TbLVQ1NzXaf
								dcRTIHrF5g==
								</data>
								<key>Size</key>
								<integer>18816</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Zrpqxza08MfK
								o7t6+EprLA==
								</data>
								<key>Size</key>
								<integer>35550</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								HXgmLdSaRneD
								BYLtlJu2pA==
								</data>
								<key>Size</key>
								<integer>64382</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								yjbxflLGbAyN
								7NCk4i289w==
								</data>
								<key>Size</key>
								<integer>90136</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								wUrJI5/rVoNZ
								n4Uk53jWHg==
								</data>
								<key>Size</key>
								<integer>43564</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								DoREqTebcz0V
								EiKaUnNzMA==
								</data>
								<key>Size</key>
								<integer>37772</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Z7FdbiA4pbqm
								1zw2GBnSPA==
								</data>
								<key>Size</key>
								<integer>26824</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								IxBW5sIK1ojb
								93pCXVUu3g==
								</data>
								<key>Size</key>
								<integer>62973</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Xxguw+pA9eLY
								c686iM3eVQ==
								</data>
								<key>Size</key>
								<integer>68740</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								sqGMmggMEr+I
								ahqvyVkz0A==
								</data>
								<key>Size</key>
								<integer>33116</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								Yrt32UeM8hWK
								P1muafiNGQ==
								</data>
								<key>Size</key>
								<integer>28608</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								du7LwTaPje6X
								Xz18wM6AXA==
								</data>
								<key>Size</key>
								<integer>31312</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								PFHPleDPWyFF
								UQs2iCpm7Q==
								</data>
								<key>Size</key>
								<integer>63335</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								adBEqYpFnSpW
								dkkSC7Zgvw==
								</data>
								<key>Size</key>
								<integer>76684</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								CK2dNxoVtvaV
								2GrzzV3o/Q==
								</data>
								<key>Size</key>
								<integer>38796</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								wXdyRTJ77Hdf
								v5VcJLmLwQ==
								</data>
								<key>Size</key>
								<integer>34016</integer>
							</dict>
							<key>images/header.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i6Zm6cRwE7ZX
								zcdSJty58Q==
								</data>
								<key>Size</key>
								<integer>459200</integer>
							</dict>
							<key>images/header2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U8r1yYh+iisX
								+wMi6yHfsA==
								</data>
								<key>Size</key>
								<integer>248958</integer>
							</dict>
							<key>images/header3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QzuikVTUkzk+
								MIbXftZVJg==
								</data>
								<key>Size</key>
								<integer>449480</integer>
							</dict>
							<key>images/header4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eAiL0scKxONI
								Tg90dFhemw==
								</data>
								<key>Size</key>
								<integer>419703</integer>
							</dict>
							<key>images/icon-menu.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								sAeJzqsYwAJe
								cESOoxKs8A==
								</data>
								<key>Size</key>
								<integer>677</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6UR3sfOVg8L3
								EmSZBtot1w==
								</data>
								<key>Size</key>
								<integer>8911</integer>
							</dict>
							<key>jquery.js</key>
							<dict>
								<key>Digest</key>
								<data>
								VDIv7VBTRRKG
								g/HTJGCLcQ==
								</data>
								<key>Size</key>
								<integer>96294</integer>
							</dict>
							<key>js/modernizr.js</key>
							<dict>
								<key>Digest</key>
								<data>
								lEiDkJvqdghl
								tNB9FR5nvQ==
								</data>
								<key>Size</key>
								<integer>11578</integer>
							</dict>
							<key>js/yuzoolthemes.js</key>
							<dict>
								<key>Digest</key>
								<data>
								9Tn0tGoLoGe8
								u4QsIjaSnA==
								</data>
								<key>Size</key>
								<integer>740</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:split</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/split</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAX0BflgkdmVyc2lv
				blgkb2JqZWN0c1kkYXJjaGl2ZXJUJHRvcBIAAYagrxBs
				AAcACAARABIAHAAdAB4AIQAoADEARABFAEYARwBNAFAA
				VABXAG0AbgBvAHAAcQByAHMAdAB1AHYAdwB7AH8AigCL
				AIwAjQCRAJQAqgCrAKwArQCuAK8AsACxALIAswC+AL8A
				wADBAMUAyADeAN8A4ADhAOIA4wDkAOUA5gDnAPIA8wD0
				APUA+QD8ARIBEwEUARUBFgEXARgBGQEaARsBJgEnASgB
				KQEtATABQgFDAUQBRQFGAUcBSAFJAVQBVQFWAVcBWwFe
				AXABcQFyAXMBdAF1AXYBdwF7VSRudWxs0wAJAAoACwAM
				AA4AEFdOUy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoQAN
				gAKhAA+AA4BrVG5vZGXVABMAFAAVABYACwAXABgAGQAa
				ABtUTmFtZVVpdGVtc1ppZGVudGlmaWVyWGNoaWxkcmVu
				gAWACIAEgAaAal8QJDRENkY4NjQ0LUQ3MkEtNEM2OS1C
				MjcyLTg1N0Y3NDQ1MkZEM18QD1VudGl0bGVkIEZvbGRl
				ctIACgALAB8AIKCAB9IAIgAjACQAJVokY2xhc3NuYW1l
				WCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5owAkACYAJ1dO
				U0FycmF5WE5TT2JqZWN00gAKAAsAKQAgpgAqACsALAAt
				AC4AL4AJgB6ALoA+gE6AXIAH2gAyADMACwA0ADUANgAT
				ADcAOAA5ADoAOwA8AD0AOwA/AEAAQQBCAENeUmVtb3Rl
				UmVzb3VyY2VbT3JpZ2luYWxVUkxcUHVibGlzaGVkVVJM
				XVB1Ymxpc2hlZERhdGVfEA9DaGFuZ2VkU3RhdHVzZXNa
				SWRlbnRpZmllcllUaW1lU3RhbXBZRmlsZVRva2VuCYAA
				gB2ADYAAgBGAC4AKgA+ADF8QJDgwMjgyQ0JFLTEzRDEt
				NDFBOS05QzI0LTk5MkQ0ODIyODNEM18QJHBob3RvLTE1
				ODAzNDY1ODUwOTAtOTU0NjMxM2Q0NDlhLmpwZ18Qm2h0
				dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0x
				NTgwMzQ2NTg1MDkwLTk1NDYzMTNkNDQ5YT9peGxpYj1y
				Yi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkm
				Y3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1l
				eUpoY0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsA
				Q1dOUy5iYXNlW05TLnJlbGF0aXZlgACADoAM0gAiACMA
				TgBPVU5TVVJMogBOACfSAFEACwBSAFNXTlMudGltZSNB
				wolAa2XGAIAQ0gAiACMAVQBWVk5TRGF0ZaIAVQAn0wAJ
				AAoACwBYAGIAbKkAWQBaAFsAXABdAF4AXwBgAGGAEoAT
				gBSAFYAWgBeAGIAZgBqpAGMAYwBjAGMAYwBjAGMAYwBj
				gBuAG4AbgBuAG4AbgBuAG4AbgBxfEGhmaWxlOi8vL1Vz
				ZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3
				ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNs
				YWVzSi5pby9NdWx0aVBhZ2VLaWNraVRoZW1lL18QamZp
				bGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRl
				cy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMy
				NTQ2MzUuY2xhZXNKLmlvL011bHRpUGFnZU9mZnJvYWRU
				aGVtZS9fEGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1
				bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rl
				c3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9TaW5nbGVQ
				YWdlU3BsYXNoVGhlbWUvXxBqZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlQYWdlVm95YWdlclRoZW1lL18QL2ZpbGU6
				Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9DbGFlcy9Q
				dWJsaXNoZWQvXxBrZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUy
				MC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVs
				dGlQYWdlRW5naW5lZXJUaGVtZS9fEGdmaWxlOi8vL1Vz
				ZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3
				ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNs
				YWVzSi5pby9NdWx0aXBlTGFuZGVyVGhlbWUvXxBpZmls
				ZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVz
				L1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1
				NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlRnV0dXJlVGhl
				bWUvXxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1l
				bnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0
				L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdl
				U3BsaXRUaGVtZS8I0gAiACMAeAB5XxATTlNNdXRhYmxl
				RGljdGlvbmFyeaMAeAB6ACdcTlNEaWN0aW9uYXJ50gAi
				ACMAfAB9XlJXU2l0ZVJlc291cmNlogB+ACdeUldTaXRl
				UmVzb3VyY2XaADIAMwALADQANQA2ABMANwA4ADkAOgA7
				ADwAgwA7AIUAhgCHAIgAiQmAAIAdgCKAAIAkgCCAH4Aj
				gCFfECQ5NDIxMEJDRS05QkQ5LTQwMDEtOTdEQS1GREJE
				OUQ3NjVEQUNfECRwaG90by0xNDk1NjAzMTU3ODA3LTg1
				MzllODBkYjY3Ni5qcGdfEJtodHRwczovL2ltYWdlcy51
				bnNwbGFzaC5jb20vcGhvdG8tMTQ5NTYwMzE1NzgwNy04
				NTM5ZTgwZGI2NzY/aXhsaWI9cmItMS4yLjEmcT04MCZm
				bT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9
				MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pF
				ek1qUTVmUdMASAALAEkAOwBLAImAAIAOgCHSAFEACwCS
				AFMjQcKJQGtlxm2AENMACQAKAAsAlQCfAGypAJYAlwCY
				AJkAmgCbAJwAnQCegCWAJoAngCiAKYAqgCuALIAtqQBj
				AGMAYwBjAGMAYwBjAGMAY4AbgBuAG4AbgBuAG4AbgBuA
				G4AcXxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1l
				bnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0
				L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdl
				S2lja2lUaGVtZS9fEGpmaWxlOi8vL1VzZXJzL2FuZGVy
				cy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4
				JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9N
				dWx0aVBhZ2VPZmZyb2FkVGhlbWUvXxBqZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlk
				d2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5j
				bGFlc0ouaW8vU2luZ2xlUGFnZVNwbGFzaFRoZW1lL18Q
				amZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9T
				aXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRl
				cnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpUGFnZVZveWFn
				ZXJUaGVtZS9fEC9maWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvQ2xhZXMvUHVibGlzaGVkL18Qa2ZpbGU6
				Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9S
				YXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2
				MzUuY2xhZXNKLmlvL011bHRpUGFnZUVuZ2luZWVyVGhl
				bWUvXxBnZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1l
				bnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0
				L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlwZUxh
				bmRlclRoZW1lL18QaWZpbGU6Ly8vVXNlcnMvYW5kZXJz
				L0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDgl
				MjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011
				bHRpUGFnZUZ1dHVyZVRoZW1lL18QaGZpbGU6Ly8vVXNl
				cnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdl
				YXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xh
				ZXNKLmlvL011bHRpUGFnZVNwbGl0VGhlbWUv2gAyADMA
				CwA0ADUANgATADcAOAA5ADoAOwA8ALcAOwC5ALoAuwC8
				AL0JgACAHYAygACANIAwgC+AM4AxXxAkRTFCNTVFQzkt
				NkRDQy00MEZBLTg2MzQtMkY2QTcyRjQ4OTM4XxAkcGhv
				dG8tMTUwMDY5OTI2NTQ5MS0xOTNlZDNmMTU5YjAuanBn
				XxCbaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2guY29tL3Bo
				b3RvLTE1MDA2OTkyNjU0OTEtMTkzZWQzZjE1OWIwP2l4
				bGliPXJiLTEuMi4xJnE9ODAmZm09anBnJmNyb3A9ZW50
				cm9weSZjcz10aW55c3JnYiZ3PTEwODAmZml0PW1heCZp
				eGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1ZlHTAEgACwBJ
				ADsASwC9gACADoAx0gBRAAsAxgBTI0HCiUBrZcaggBDT
				AAkACgALAMkA0wBsqQDKAMsAzADNAM4AzwDQANEA0oA1
				gDaAN4A4gDmAOoA7gDyAPakAYwBjAGMAYwBjAGMAYwBj
				AGOAG4AbgBuAG4AbgBuAG4AbgBuAHF8QaGZpbGU6Ly8v
				VXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBp
				ZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUu
				Y2xhZXNKLmlvL011bHRpUGFnZUtpY2tpVGhlbWUvXxBq
				ZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1Np
				dGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVy
				czI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlT2Zmcm9h
				ZFRoZW1lL18QamZpbGU6Ly8vVXNlcnMvYW5kZXJzL0Rv
				Y3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAv
				VGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL1Npbmds
				ZVBhZ2VTcGxhc2hUaGVtZS9fEGpmaWxlOi8vL1VzZXJz
				L2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2
				ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVz
				Si5pby9NdWx0aVBhZ2VWb3lhZ2VyVGhlbWUvXxAvZmls
				ZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL0NsYWVz
				L1B1Ymxpc2hlZC9fEGtmaWxlOi8vL1VzZXJzL2FuZGVy
				cy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4
				JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9N
				dWx0aVBhZ2VFbmdpbmVlclRoZW1lL18QZ2ZpbGU6Ly8v
				VXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBp
				ZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUu
				Y2xhZXNKLmlvL011bHRpcGVMYW5kZXJUaGVtZS9fEGlm
				aWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0
				ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJz
				MjU0NjM1LmNsYWVzSi5pby9NdWx0aVBhZ2VGdXR1cmVU
				aGVtZS9fEGhmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1
				bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rl
				c3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aVBh
				Z2VTcGxpdFRoZW1lL9oAMgAzAAsANAA1ADYAEwA3ADgA
				OQA6ADsAPADrADsA7QDuAO8A8ADxCYAAgB2AQoAAgESA
				QIA/gEOAQV8QJDFGMzQzQjg1LTE1NzctNDUwMi04NTFG
				LUM1ODUzMzEzNTE4Q18QJHBob3RvLTE1MTc4NTU2OTUz
				NDktNjEyOWNiYzgwYTBkLmpwZ18Qm2h0dHBzOi8vaW1h
				Z2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTE3ODU1Njk1
				MzQ5LTYxMjljYmM4MGEwZD9peGxpYj1yYi0xLjIuMSZx
				PTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlueXNy
				Z2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hCZmFX
				UWlPakV6TWpRNWZR0wBIAAsASQA7AEsA8YAAgA6AQdIA
				UQALAPoAUyNBwolAa2XGwYAQ0wAJAAoACwD9AQcAbKkA
				/gD/AQABAQECAQMBBAEFAQaARYBGgEeASIBJgEqAS4BM
				gE2pAGMAYwBjAGMAYwBjAGMAYwBjgBuAG4AbgBuAG4Ab
				gBuAG4AbgBxfEGhmaWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIw
				L1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0
				aVBhZ2VLaWNraVRoZW1lL18QamZpbGU6Ly8vVXNlcnMv
				YW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZl
				ciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNK
				LmlvL011bHRpUGFnZU9mZnJvYWRUaGVtZS9fEGpmaWxl
				Oi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMv
				UmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0
				NjM1LmNsYWVzSi5pby9TaW5nbGVQYWdlU3BsYXNoVGhl
				bWUvXxBqZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1l
				bnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0
				L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdl
				Vm95YWdlclRoZW1lL18QL2ZpbGU6Ly8vVXNlcnMvYW5k
				ZXJzL0RvY3VtZW50cy9DbGFlcy9QdWJsaXNoZWQvXxBr
				ZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1Np
				dGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVy
				czI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlRW5naW5l
				ZXJUaGVtZS9fEGdmaWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIw
				L1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0
				aXBlTGFuZGVyVGhlbWUvXxBpZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlQYWdlRnV0dXJlVGhlbWUvXxBoZmlsZTov
				Ly9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1Jh
				cGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYz
				NS5jbGFlc0ouaW8vTXVsdGlQYWdlU3BsaXRUaGVtZS/a
				ADIAMwALADQANQA2ABMANwA4ADkAOgA7ADwBHwA7ASEB
				IgEjASQBJQmAAIAdgFKAAIBUgFCAT4BTgFFfECRFQzVC
				NTYxNy0xNTUwLTQ1NTQtOEMwRC1BNzlENDQ3MzBFQjNf
				ECRwaG90by0xNDkwMTAwNjY3OTkwLTRmY2VkODAyMTY0
				OS5qcGdfEJtodHRwczovL2ltYWdlcy51bnNwbGFzaC5j
				b20vcGhvdG8tMTQ5MDEwMDY2Nzk5MC00ZmNlZDgwMjE2
				NDk/aXhsaWI9cmItMS4yLjEmcT04MCZmbT1qcGcmY3Jv
				cD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9MTA4MCZmaXQ9
				bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pFek1qUTVmUdMA
				SAALAEkAOwBLASWAAIAOgFHSAFEACwEuAFMjQcKJQGtl
				xuuAENMACQAKAAsBMQE5AGynATIBMwE0ATUBNgE3ATiA
				VYBWgFeAWIBZgFqAW6cAYwBjAGMAYwBjAGMAY4AbgBuA
				G4AbgBuAG4AbgBxfEGhmaWxlOi8vL1VzZXJzL2FuZGVy
				cy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4
				JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9N
				dWx0aVBhZ2VLaWNraVRoZW1lL18QamZpbGU6Ly8vVXNl
				cnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdl
				YXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xh
				ZXNKLmlvL011bHRpUGFnZU9mZnJvYWRUaGVtZS9fEGpm
				aWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0
				ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJz
				MjU0NjM1LmNsYWVzSi5pby9NdWx0aVBhZ2VWb3lhZ2Vy
				VGhlbWUvXxBrZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9j
				dW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9U
				ZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQ
				YWdlRW5naW5lZXJUaGVtZS9fEGdmaWxlOi8vL1VzZXJz
				L2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2
				ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVz
				Si5pby9NdWx0aXBlTGFuZGVyVGhlbWUvXxBpZmlsZTov
				Ly9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1Jh
				cGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYz
				NS5jbGFlc0ouaW8vTXVsdGlQYWdlRnV0dXJlVGhlbWUv
				XxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRz
				L1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2Fu
				ZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlU3Bs
				aXRUaGVtZS/aADIAMwALADQANQA2ABMANwA4ADkAOgA7
				ADwBTQA7AU8BUAFRAVIBUwmAAIAdgGCAAIBigF6AXYBh
				gF9fECRBNTAwNDE1OC1DRUQ4LTQzMTQtQjc3Qi0xRUQ4
				OEE0RjJEQkNfECRwaG90by0xNDI1OTEzMzk3MzMwLWNm
				OGFmMmZmNDBhMS5qcGdfEJtodHRwczovL2ltYWdlcy51
				bnNwbGFzaC5jb20vcGhvdG8tMTQyNTkxMzM5NzMzMC1j
				ZjhhZjJmZjQwYTE/aXhsaWI9cmItMS4yLjEmcT04MCZm
				bT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9
				MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pF
				ek1qUTVmUdMASAALAEkAOwBLAVOAAIAOgF/SAFEACwFc
				AFMjQcKJQGtlxyaAENMACQAKAAsBXwFnAGynAWABYQFi
				AWMBZAFlAWaAY4BkgGWAZoBngGiAaacAYwBjAGMAYwBj
				AGMAY4AbgBuAG4AbgBuAG4AbgBxfEGhmaWxlOi8vL1Vz
				ZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3
				ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNs
				YWVzSi5pby9NdWx0aVBhZ2VLaWNraVRoZW1lL18QamZp
				bGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRl
				cy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMy
				NTQ2MzUuY2xhZXNKLmlvL011bHRpUGFnZU9mZnJvYWRU
				aGVtZS9fEGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1
				bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rl
				c3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aVBh
				Z2VWb3lhZ2VyVGhlbWUvXxBrZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlQYWdlRW5naW5lZXJUaGVtZS9fEGdmaWxl
				Oi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMv
				UmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0
				NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFuZGVyVGhlbWUv
				XxBpZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRz
				L1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2Fu
				ZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlRnV0
				dXJlVGhlbWUvXxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUy
				MC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVs
				dGlQYWdlU3BsaXRUaGVtZS/SACIAIwF4AXlcUldTaXRl
				Rm9sZGVyogF6ACdcUldTaXRlRm9sZGVy0gAiACMAegF8
				ogB6ACdfEA9OU0tleWVkQXJjaGl2ZXLRAX8BgFRyb290
				gAEACAAZACIAKwA1ADoAPwEaASABLQE1AUABRwFKAUwB
				TwFRAVMBWAFtAXIBeAGDAYwBjgGQAZIBlAGWAb0BzwHY
				AdkB2wHkAe8B+AIHAg4CFgIfAigCNQI3AjkCOwI9Aj8C
				QQJDAmwCewKHApQCogK0Ar8CyQLTAtQC1gLYAtoC3ALe
				AuAC4gLkAuYDDQM0A9ID3wPnA/MD9QP3A/kEAgQIBA0E
				FgQeBCcEKQQyBDkEPgRLBF4EYARiBGQEZgRoBGoEbARu
				BHAEgwSFBIcEiQSLBI0EjwSRBJMElQSXBQIFbwXcBkkG
				ewbpB1MHvwgqCCsINAhKCFEIXghnCHYIewiKCLMItAi2
				CLgIugi8CL4IwAjCCMQIxgjtCRQJsgm/CcEJwwnFCc4J
				1wnZCeYJ+Qn7Cf0J/woBCgMKBQoHCgkKCwoeCiAKIgok
				CiYKKAoqCiwKLgowCjIKnQsKC3cL5AwWDIQM7g1aDcUN
				7g3vDfEN8w31DfcN+Q37Df0N/w4BDigOTw7tDvoO/A7+
				DwAPCQ8SDxQPIQ80DzYPOA86DzwPPg9AD0IPRA9GD1kP
				Ww9dD18PYQ9jD2UPZw9pD2sPbQ/YEEUQshEfEVERvxIp
				EpUTABMpEyoTLBMuEzATMhM0EzYTOBM6EzwTYxOKFCgU
				NRQ3FDkUOxREFE0UTxRcFG8UcRRzFHUUdxR5FHsUfRR/
				FIEUlBSWFJgUmhScFJ4UoBSiFKQUphSoFRMVgBXtFloW
				jBb6F2QX0Bg7GGQYZRhnGGkYaxhtGG8YcRhzGHUYdxie
				GMUZYxlwGXIZdBl2GX8ZiBmKGZcZphmoGaoZrBmuGbAZ
				shm0GcMZxRnHGckZyxnNGc8Z0RnTGj4aqxsYG4Yb8Bxc
				HMcc8BzxHPMc9Rz3HPkc+xz9HP8dAR0DHSodUR3vHfwd
				/h4AHgIeCx4UHhYeIx4yHjQeNh44HjoePB4+HkAeTx5R
				HlMeVR5XHlkeWx5dHl8eyh83H6QgEiB8IOghUyFcIWkh
				biF7IYQhiSGbIaAhpQAAAAAAAAICAAAAAAAAAYEAAAAA
				AAAAAAAAAAAAACGn
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>EC5B5617-1550-4554-8C0D-A79D44730EB3</string>
					<key>BaseURL</key>
					<string>https://www.claesj.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Claes J</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>claes.34@claesj.se</string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va3gDAAAAAAQQMAAA
							AB3nvdmOh9Q32ErZzjhx
							vEqkRdq+86DTpHnx256x
							0joBdAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAGFu
							ZGVycwAACQAAAAEBAABE
							b2N1bWVudHMAAAAFAAAA
							AQEAAFNpdGVzAAAADgAA
							AAEBAABSYXBpZHdlYXZl
							ciA4IAAABAAAAAEBAABU
							ZXN0FgAAAAEBAABhbmRl
							cnMyNTQ2MzUuY2xhZXNK
							LmlvAAAUAAAAAQEAAE11
							bHRpUGFnZUZ1dHVyZVRo
							ZW1lIAAAAAEGAAAQAAAA
							IAAAADAAAABEAAAAVAAA
							AGwAAAB4AAAAmAAAAAgA
							AAAEAwAA+WYCAAAAAAAI
							AAAABAMAAGo1CQAAAAAA
							CAAAAAQDAABrNQkAAAAA
							AAgAAAAEAwAA+e0TAAAA
							AAAIAAAABAMAABLejQEA
							AAAACAAAAAQDAAAd3o0B
							AAAAAAgAAAAEAwAAAIet
							AgAAAAAIAAAABAMAAOi6
							rwIAAAAAIAAAAAEGAADc
							AAAA7AAAAPwAAAAMAQAA
							HAEAACwBAAA8AQAATAEA
							AAgAAAAABAAAQcKJQGeA
							AAAYAAAAAQIAAAIAAAAA
							AAAADwAAAAAAAAAAAAAA
							AAAAAAgAAAAEAwAABgAA
							AAAAAAAEAAAAAwMAAPUB
							AAAIAAAAAQkAAGZpbGU6
							Ly8vDAAAAAEBAABNYWNp
							bnRvc2ggSEQIAAAABAMA
							AAAAaCc6AAAACAAAAAAE
							AABBuV6xxgAAACQAAAAB
							AQAANUVDOUU4MkMtQzND
							NC0zQzE1LUI2NDUtMjM4
							MUJBRjQwQkREGAAAAAEC
							AACBAAAAAQAAAO8TAAAB
							AAAAAAAAAAAAAAABAAAA
							AQEAAC8AAAAAAAAAAQUA
							AMwAAAD+////AQAAAAAA
							AAAQAAAABBAAALQAAAAA
							AAAABRAAAFwBAAAAAAAA
							EBAAAJQBAAAAAAAAQBAA
							AIQBAAAAAAAAAiAAAGAC
							AAAAAAAABSAAANABAAAA
							AAAAECAAAOABAAAAAAAA
							ESAAABQCAAAAAAAAEiAA
							APQBAAAAAAAAEyAAAAQC
							AAAAAAAAICAAAEACAAAA
							AAAAMCAAAGwCAAAAAAAA
							AcAAALQBAAAAAAAAEcAA
							ACAAAAAAAAAAEsAAAMQB
							AAAAAAAAENAAAAQAAAAA
							AAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>ClaesJ Local file</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLanguage</key>
					<string>sv</string>
					<key>SloganText</key>
					<string>Legitimerad symbol terapeut…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Future</string>
					<key>TitleText</key>
					<string>ClaesJ</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6877CEC4-04F8-4632-9D24-51943ECD6B81_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
