<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								26KNprotBnXp
								bo9jLAoLBg==
								</data>
								<key>Size</key>
								<integer>4351</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lH85Irb0FUDT
								FIndpcW+Kw==
								</data>
								<key>Size</key>
								<integer>1653</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZfeS1zlUbfGt
								hnwfmaUxEQ==
								</data>
								<key>Size</key>
								<integer>7578</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:kiki - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2bbp0EOnmX44
								6dSzudrh8A==
								</data>
								<key>Size</key>
								<integer>46908</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								XY27UThXUOZC
								zJ8/0onUrQ==
								</data>
								<key>Size</key>
								<integer>19168</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								LpQ7ovH4uLAn
								XG57KWNxFw==
								</data>
								<key>Size</key>
								<integer>51139</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								JHvqjNjvJoXz
								SMe9yKB4OA==
								</data>
								<key>Size</key>
								<integer>35000</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								WOzJ4z4+bKcc
								4rFx+l/LDg==
								</data>
								<key>Size</key>
								<integer>20696</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								X7nKXqpEQ7+V
								+R3xDF+voA==
								</data>
								<key>Size</key>
								<integer>16852</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								rU3YM9vMjCtW
								9Iky2CSNIA==
								</data>
								<key>Size</key>
								<integer>32176</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZbnselnulIHe
								ioqs7mUb3g==
								</data>
								<key>Size</key>
								<integer>65508</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								NgA/0+Zq25aV
								FtoiJvogBA==
								</data>
								<key>Size</key>
								<integer>85712</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								zhh82ytFWFV5
								I1fpRlJYAQ==
								</data>
								<key>Size</key>
								<integer>38520</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								GIw9xkin/Uf3
								EjEVOaQO3Q==
								</data>
								<key>Size</key>
								<integer>30540</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								FdMKrfM22vUL
								USKI+dYvFw==
								</data>
								<key>Size</key>
								<integer>42684</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Yu8XeE6exOv
								KNWVEjXyhg==
								</data>
								<key>Size</key>
								<integer>70801</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								q2ahaj28Kzaz
								GQSg2LDxZA==
								</data>
								<key>Size</key>
								<integer>112888</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								YEpWaU+4460x
								JOZxUOB/GQ==
								</data>
								<key>Size</key>
								<integer>49288</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								2he6DwCMtYex
								mEsJWN0aJw==
								</data>
								<key>Size</key>
								<integer>38936</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								eQNPeqQ13spv
								4ZvBSkJYsQ==
								</data>
								<key>Size</key>
								<integer>41256</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								x3Nrz9sYG2FW
								vVo6b4egGA==
								</data>
								<key>Size</key>
								<integer>67174</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								s0PATtfVZrZ4
								3Kxla60woA==
								</data>
								<key>Size</key>
								<integer>108260</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								2eJWgudulW4M
								BAscMyWTgA==
								</data>
								<key>Size</key>
								<integer>47444</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								09xoX7GZ0wsU
								cL0m7flonw==
								</data>
								<key>Size</key>
								<integer>37408</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								1a1QfB5Ddff9
								b0FJoH49jg==
								</data>
								<key>Size</key>
								<integer>20837</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								VqkNSRXPDTmr
								q9b6sWKVzg==
								</data>
								<key>Size</key>
								<integer>64954</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								xNeSS4NWc+a6
								dy5nkJ0y8w==
								</data>
								<key>Size</key>
								<integer>38296</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								zGc8lFtILcE3
								jUo8lf/RdQ==
								</data>
								<key>Size</key>
								<integer>22696</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								FjbxOlLKPw64
								eEycV/Yggg==
								</data>
								<key>Size</key>
								<integer>18484</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Nax+T2B9ntqW
								u7bURp3gNQ==
								</data>
								<key>Size</key>
								<integer>21144</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								AL1lKdztZ0qj
								jFw9ZDCE6Q==
								</data>
								<key>Size</key>
								<integer>69569</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								CAvYBZHXcrVf
								RZc9/aiuuQ==
								</data>
								<key>Size</key>
								<integer>37512</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								CrS1TzseixTP
								dVlw/ejONQ==
								</data>
								<key>Size</key>
								<integer>22884</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								XJoj0I4shR5a
								JXlblArNTw==
								</data>
								<key>Size</key>
								<integer>18740</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nQMz0lOrJqhH
								dQvqEu8GfA==
								</data>
								<key>Size</key>
								<integer>21180</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								lGaWAv/l81kb
								SKqPsUrBgA==
								</data>
								<key>Size</key>
								<integer>65455</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								4a4aDLUdMo2b
								jgQm9Iub6Q==
								</data>
								<key>Size</key>
								<integer>39324</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								qwYW5thWgX7/
								VOuMXhZk5A==
								</data>
								<key>Size</key>
								<integer>23036</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								+TbLVQ1NzXaf
								dcRTIHrF5g==
								</data>
								<key>Size</key>
								<integer>18816</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								ehvkDqAOj6ab
								btomLuigIw==
								</data>
								<key>Size</key>
								<integer>15520</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								KZX3mzhnsUvX
								DIURkj47HQ==
								</data>
								<key>Size</key>
								<integer>54597</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								zcip8Rjdv4Xv
								XYwGz+BC/A==
								</data>
								<key>Size</key>
								<integer>27576</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								aTAVz+P8+Q4Z
								CkBiVZ4shA==
								</data>
								<key>Size</key>
								<integer>18144</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								EI8fI61F3oru
								pYSVksi2hQ==
								</data>
								<key>Size</key>
								<integer>14520</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								AzSTjy+3juDA
								bP1A4dWs0g==
								</data>
								<key>Size</key>
								<integer>14175</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								jN3qTAUnHsu7
								t/yK9X12xA==
								</data>
								<key>Size</key>
								<integer>57666</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								FcXNyJ0kHTc8
								4ijfRZghsg==
								</data>
								<key>Size</key>
								<integer>24572</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								I8kG1HWfJ83K
								ppkGLBOw6w==
								</data>
								<key>Size</key>
								<integer>16616</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								Tm8eiCVKGGXB
								Nds/7/azmQ==
								</data>
								<key>Size</key>
								<integer>13084</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								NGzDT0BjEYN+
								mP+PDOML5g==
								</data>
								<key>Size</key>
								<integer>17307</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								jQs3Ivz3Dph7
								h8yLxis4Fw==
								</data>
								<key>Size</key>
								<integer>54852</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								9EfgeefkHYhD
								MSAHWLQKdQ==
								</data>
								<key>Size</key>
								<integer>31520</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								ts8dteOCeRnN
								IUi9rpExMQ==
								</data>
								<key>Size</key>
								<integer>19808</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								K1yzbtUEYHae
								gL+CdZwJZQ==
								</data>
								<key>Size</key>
								<integer>15892</integer>
							</dict>
							<key>images/cover1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cG00Ts2K4Y6Q
								KNrf+lEXcg==
								</data>
								<key>Size</key>
								<integer>117321</integer>
							</dict>
							<key>images/cover2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8JoPw94mRBTY
								0vzp15bD3A==
								</data>
								<key>Size</key>
								<integer>121950</integer>
							</dict>
							<key>images/cover3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uBSTxsFtleQ9
								vuGGZfRILg==
								</data>
								<key>Size</key>
								<integer>189246</integer>
							</dict>
							<key>images/cover4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XQEBm+SCMcGm
								+Ba6NdyZgg==
								</data>
								<key>Size</key>
								<integer>152682</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6UR3sfOVg8L3
								EmSZBtot1w==
								</data>
								<key>Size</key>
								<integer>8911</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:kiki</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/kiki</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGASMBJFgkdmVyc2lv
				blgkb2JqZWN0c1kkYXJjaGl2ZXJUJHRvcBIAAYagrxBO
				AAcACAARABIAHAAdAB4AIQAoADEARABFAEYARwBNAFAA
				VABXAGMAZABlAGYAZwBoAGwAcAB7AHwAfQB+AIIAhQCR
				AJIAkwCUAJUAoAChAKIAowCnAKoAtgC3ALgAuQC6AMUA
				xgDHAMgAzADPANsA3ADdAN4A3wDqAOsA7ADtAPEA9AD8
				AP0A/gEJAQoBCwEMARABEwEbARwBHQEhVSRudWxs0wAJ
				AAoACwAMAA4AEFdOUy5rZXlzWk5TLm9iamVjdHNWJGNs
				YXNzoQANgAKhAA+AA4BNVG5vZGXVABMAFAAVABYACwAX
				ABgAGQAaABtUTmFtZVVpdGVtc1ppZGVudGlmaWVyWGNo
				aWxkcmVugAWACIAEgAaATF8QJDRENkY4NjQ0LUQ3MkEt
				NEM2OS1CMjcyLTg1N0Y3NDQ1MkZEM18QD1VudGl0bGVk
				IEZvbGRlctIACgALAB8AIKCAB9IAIgAjACQAJVokY2xh
				c3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5owAk
				ACYAJ1dOU0FycmF5WE5TT2JqZWN00gAKAAsAKQAgpgAq
				ACsALAAtAC4AL4AJgBmAJIAvgDqAQ4AH2gAyADMACwA0
				ADUANgATADcAOAA5ADoAOwA8AD0AOwA/AEAAQQBCAENe
				UmVtb3RlUmVzb3VyY2VbT3JpZ2luYWxVUkxcUHVibGlz
				aGVkVVJMXVB1Ymxpc2hlZERhdGVfEA9DaGFuZ2VkU3Rh
				dHVzZXNaSWRlbnRpZmllcllUaW1lU3RhbXBZRmlsZVRv
				a2VuCYAAgBiADYAAgBGAC4AKgA+ADF8QJDgwMjgyQ0JF
				LTEzRDEtNDFBOS05QzI0LTk5MkQ0ODIyODNEM18QJHBo
				b3RvLTE1ODAzNDY1ODUwOTAtOTU0NjMxM2Q0NDlhLmpw
				Z18Qm2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9w
				aG90by0xNTgwMzQ2NTg1MDkwLTk1NDYzMTNkNDQ5YT9p
				eGxpYj1yYi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVu
				dHJvcHkmY3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgm
				aXhpZD1leUpoY0hCZmFXUWlPakV6TWpRNWZR0wBIAAsA
				SQA7AEsAQ1dOUy5iYXNlW05TLnJlbGF0aXZlgACADoAM
				0gAiACMATgBPVU5TVVJMogBOACfSAFEACwBSAFNXTlMu
				dGltZSNBwok8GXD8aYAQ0gAiACMAVQBWVk5TRGF0ZaIA
				VQAn0wAJAAoACwBYAF0AYqQAWQBaAFsAXIASgBOAFIAV
				pABeAF4AXgBegBaAFoAWgBaAF18QaGZpbGU6Ly8vVXNl
				cnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdl
				YXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xh
				ZXNKLmlvL011bHRpUGFnZUtpY2tpVGhlbWUvXxAvZmls
				ZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL0NsYWVz
				L1B1Ymxpc2hlZC9fEGpmaWxlOi8vL1VzZXJzL2FuZGVy
				cy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4
				JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9T
				aW5nbGVQYWdlU3BsYXNoVGhlbWUvXxBnZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlk
				d2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5j
				bGFlc0ouaW8vTXVsdGlwZUxhbmRlclRoZW1lLwjSACIA
				IwBpAGpfEBNOU011dGFibGVEaWN0aW9uYXJ5owBpAGsA
				J1xOU0RpY3Rpb25hcnnSACIAIwBtAG5eUldTaXRlUmVz
				b3VyY2WiAG8AJ15SV1NpdGVSZXNvdXJjZdoAMgAzAAsA
				NAA1ADYAEwA3ADgAOQA6ADsAPAB0ADsAdgB3AHgAeQB6
				CYAAgBiAHYAAgB+AG4AagB6AHF8QJDk0MjEwQkNFLTlC
				RDktNDAwMS05N0RBLUZEQkQ5RDc2NURBQ18QJHBob3Rv
				LTE0OTU2MDMxNTc4MDctODUzOWU4MGRiNjc2LmpwZ18Q
				m2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90
				by0xNDk1NjAzMTU3ODA3LTg1MzllODBkYjY3Nj9peGxp
				Yj1yYi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJv
				cHkmY3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhp
				ZD1leUpoY0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7
				AEsAeoAAgA6AHNIAUQALAIMAUyNBwok8GXD9CYAQ0wAJ
				AAoACwCGAIsAYqQAhwCIAIkAioAggCGAIoAjpABeAF4A
				XgBegBaAFoAWgBaAF18QaGZpbGU6Ly8vVXNlcnMvYW5k
				ZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUy
				MDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlv
				L011bHRpUGFnZUtpY2tpVGhlbWUvXxAvZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL0NsYWVzL1B1Ymxp
				c2hlZC9fEGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1
				bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rl
				c3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9TaW5nbGVQ
				YWdlU3BsYXNoVGhlbWUvXxBnZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlwZUxhbmRlclRoZW1lL9oAMgAzAAsANAA1
				ADYAEwA3ADgAOQA6ADsAPACZADsAmwCcAJ0AngCfCYAA
				gBiAKIAAgCqAJoAlgCmAJ18QJEUxQjU1RUM5LTZEQ0Mt
				NDBGQS04NjM0LTJGNkE3MkY0ODkzOF8QJHBob3RvLTE1
				MDA2OTkyNjU0OTEtMTkzZWQzZjE1OWIwLmpwZ18Qm2h0
				dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0x
				NTAwNjk5MjY1NDkxLTE5M2VkM2YxNTliMD9peGxpYj1y
				Yi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkm
				Y3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1l
				eUpoY0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsA
				n4AAgA6AJ9IAUQALAKgAUyNBwok8GXD9O4AQ0wAJAAoA
				CwCrALAAYqQArACtAK4Ar4ArgCyALYAupABeAF4AXgBe
				gBaAFoAWgBaAF18QaGZpbGU6Ly8vVXNlcnMvYW5kZXJz
				L0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDgl
				MjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011
				bHRpUGFnZUtpY2tpVGhlbWUvXxAvZmlsZTovLy9Vc2Vy
				cy9hbmRlcnMvRG9jdW1lbnRzL0NsYWVzL1B1Ymxpc2hl
				ZC9fEGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVu
				dHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3Qv
				YW5kZXJzMjU0NjM1LmNsYWVzSi5pby9TaW5nbGVQYWdl
				U3BsYXNoVGhlbWUvXxBnZmlsZTovLy9Vc2Vycy9hbmRl
				cnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIw
				OCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8v
				TXVsdGlwZUxhbmRlclRoZW1lL9oAMgAzAAsANAA1ADYA
				EwA3ADgAOQA6ADsAPAC+ADsAwADBAMIAwwDECYAAgBiA
				M4AAgDWAMYAwgDSAMl8QJDFGMzQzQjg1LTE1NzctNDUw
				Mi04NTFGLUM1ODUzMzEzNTE4Q18QJHBob3RvLTE1MTc4
				NTU2OTUzNDktNjEyOWNiYzgwYTBkLmpwZ18Qm2h0dHBz
				Oi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTE3
				ODU1Njk1MzQ5LTYxMjljYmM4MGEwZD9peGxpYj1yYi0x
				LjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9
				dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpo
				Y0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsAxIAA
				gA6AMtIAUQALAM0AUyNBwok8GXD9ZYAQ0wAJAAoACwDQ
				ANUAYqQA0QDSANMA1IA2gDeAOIA5pABeAF4AXgBegBaA
				FoAWgBaAF18QaGZpbGU6Ly8vVXNlcnMvYW5kZXJzL0Rv
				Y3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAv
				VGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRp
				UGFnZUtpY2tpVGhlbWUvXxAvZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL0NsYWVzL1B1Ymxpc2hlZC9f
				EGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMv
				U2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5k
				ZXJzMjU0NjM1LmNsYWVzSi5pby9TaW5nbGVQYWdlU3Bs
				YXNoVGhlbWUvXxBnZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUy
				MC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVs
				dGlwZUxhbmRlclRoZW1lL9oAMgAzAAsANAA1ADYAEwA3
				ADgAOQA6ADsAPADjADsA5QDmAOcA6ADpCYAAgBiAPoAA
				gECAPIA7gD+APV8QJEVDNUI1NjE3LTE1NTAtNDU1NC04
				QzBELUE3OUQ0NDczMEVCM18QJHBob3RvLTE0OTAxMDA2
				Njc5OTAtNGZjZWQ4MDIxNjQ5LmpwZ18Qm2h0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNDkwMTAw
				NjY3OTkwLTRmY2VkODAyMTY0OT9peGxpYj1yYi0xLjIu
				MSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hC
				ZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsA6YAAgA6A
				PdIAUQALAPIAUyNBwok8GXD9j4AQ0wAJAAoACwD1APgA
				YqIA9gD3gEGAQqIAXgBegBaAFoAXXxBoZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlk
				d2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5j
				bGFlc0ouaW8vTXVsdGlQYWdlS2lja2lUaGVtZS9fEGdm
				aWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0
				ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJz
				MjU0NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFuZGVyVGhl
				bWUv2gAyADMACwA0ADUANgATADcAOAA5ADoAOwA8AQIA
				OwEEAQUBBgEHAQgJgACAGIBHgACASYBFgESASIBGXxAk
				QTUwMDQxNTgtQ0VEOC00MzE0LUI3N0ItMUVEODhBNEYy
				REJDXxAkcGhvdG8tMTQyNTkxMzM5NzMzMC1jZjhhZjJm
				ZjQwYTEuanBnXxCbaHR0cHM6Ly9pbWFnZXMudW5zcGxh
				c2guY29tL3Bob3RvLTE0MjU5MTMzOTczMzAtY2Y4YWYy
				ZmY0MGExP2l4bGliPXJiLTEuMi4xJnE9ODAmZm09anBn
				JmNyb3A9ZW50cm9weSZjcz10aW55c3JnYiZ3PTEwODAm
				Zml0PW1heCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1
				ZlHTAEgACwBJADsASwEIgACADoBG0gBRAAsBEQBTI0HC
				iTwZcP25gBDTAAkACgALARQBFwBiogEVARaASoBLogBe
				AF6AFoAWgBdfEGhmaWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIw
				L1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0
				aVBhZ2VLaWNraVRoZW1lL18QZ2ZpbGU6Ly8vVXNlcnMv
				YW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZl
				ciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNK
				LmlvL011bHRpcGVMYW5kZXJUaGVtZS/SACIAIwEeAR9c
				UldTaXRlRm9sZGVyogEgACdcUldTaXRlRm9sZGVy0gAi
				ACMAawEiogBrACdfEA9OU0tleWVkQXJjaGl2ZXLRASUB
				JlRyb290gAEACAAZACIAKwA1ADoAPwDeAOQA8QD5AQQB
				CwEOARABEwEVARcBHAExATYBPAFHAVABUgFUAVYBWAFa
				AYEBkwGcAZ0BnwGoAbMBvAHLAdIB2gHjAewB+QH7Af0B
				/wIBAgMCBQIHAjACPwJLAlgCZgJ4AoMCjQKXApgCmgKc
				Ap4CoAKiAqQCpgKoAqoC0QL4A5YDowOrA7cDuQO7A70D
				xgPMA9ED2gPiA+sD7QP2A/0EAgQPBBgEGgQcBB4EIAQp
				BCsELQQvBDEEMwSeBNAFPQWnBagFsQXHBc4F2wXkBfMF
				+AYHBjAGMQYzBjUGNwY5BjsGPQY/BkEGQwZqBpEHLwc8
				Bz4HQAdCB0sHVAdWB2MHbAduB3AHcgd0B30HfweBB4MH
				hQeHB/IIJAiRCPsJJAklCScJKQkrCS0JLwkxCTMJNQk3
				CV4JhQojCjAKMgo0CjYKPwpICkoKVwpgCmIKZApmCmgK
				cQpzCnUKdwp5CnsK5gsYC4UL7wwYDBkMGwwdDB8MIQwj
				DCUMJwwpDCsMUgx5DRcNJA0mDSgNKg0zDTwNPg1LDVQN
				Vg1YDVoNXA1lDWcNaQ1rDW0Nbw3aDgwOeQ7jDwwPDQ8P
				DxEPEw8VDxcPGQ8bDx0PHw9GD20QCxAYEBoQHBAeECcQ
				MBAyED8QRBBGEEgQTRBPEFEQUxC+ESgRURFSEVQRVhFY
				EVoRXBFeEWARYhFkEYsRshJQEl0SXxJhEmMSbBJ1EncS
				hBKJEosSjRKSEpQSlhKYEwMTbRN2E4MTiBOVE54ToxO1
				E7oTvwAAAAAAAAICAAAAAAAAAScAAAAAAAAAAAAAAAAA
				ABPB
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>EC5B5617-1550-4554-8C0D-A79D44730EB3</string>
					<key>BaseURL</key>
					<string>https://www.claesj.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Claes J</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>claes.34@claesj.se</string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Kicki Theme Green</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va3gDAAAAAAQQMAAA
							AEoF5V8EdRl4eFPwoSeL
							Gv85Xss3Etrid9paElcs
							VgDEdAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAGFu
							ZGVycwAACQAAAAEBAABE
							b2N1bWVudHMAAAAFAAAA
							AQEAAFNpdGVzAAAADgAA
							AAEBAABSYXBpZHdlYXZl
							ciA4IAAABAAAAAEBAABU
							ZXN0FgAAAAEBAABhbmRl
							cnMyNTQ2MzUuY2xhZXNK
							LmlvAAATAAAAAQEAAE11
							bHRpUGFnZUtpY2tpVGhl
							bWUAIAAAAAEGAAAQAAAA
							IAAAADAAAABEAAAAVAAA
							AGwAAAB4AAAAmAAAAAgA
							AAAEAwAA+WYCAAAAAAAI
							AAAABAMAAGo1CQAAAAAA
							CAAAAAQDAABrNQkAAAAA
							AAgAAAAEAwAA+e0TAAAA
							AAAIAAAABAMAABLejQEA
							AAAACAAAAAQDAAAd3o0B
							AAAAAAgAAAAEAwAAAIet
							AgAAAAAIAAAABAMAABWb
							rwIAAAAAIAAAAAEGAADc
							AAAA7AAAAPwAAAAMAQAA
							HAEAACwBAAA8AQAATAEA
							AAgAAAAABAAAQcKJPBSA
							AAAYAAAAAQIAAAIAAAAA
							AAAADwAAAAAAAAAAAAAA
							AAAAAAgAAAAEAwAABgAA
							AAAAAAAEAAAAAwMAAPUB
							AAAIAAAAAQkAAGZpbGU6
							Ly8vDAAAAAEBAABNYWNp
							bnRvc2ggSEQIAAAABAMA
							AAAAaCc6AAAACAAAAAAE
							AABBuV6xxgAAACQAAAAB
							AQAANUVDOUU4MkMtQzND
							NC0zQzE1LUI2NDUtMjM4
							MUJBRjQwQkREGAAAAAEC
							AACBAAAAAQAAAO8TAAAB
							AAAAAAAAAAAAAAABAAAA
							AQEAAC8AAAAAAAAAAQUA
							AMwAAAD+////AQAAAAAA
							AAAQAAAABBAAALQAAAAA
							AAAABRAAAFwBAAAAAAAA
							EBAAAJQBAAAAAAAAQBAA
							AIQBAAAAAAAAAiAAAGAC
							AAAAAAAABSAAANABAAAA
							AAAAECAAAOABAAAAAAAA
							ESAAABQCAAAAAAAAEiAA
							APQBAAAAAAAAEyAAAAQC
							AAAAAAAAICAAAEACAAAA
							AAAAMCAAAGwCAAAAAAAA
							AcAAALQBAAAAAAAAEcAA
							ACAAAAAAAAAAEsAAAMQB
							AAAAAAAAENAAAAQAAAAA
							AAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>ClaesJ Local file</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLanguage</key>
					<string>sv</string>
					<key>SloganText</key>
					<string></string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Kiki</string>
					<key>TitleText</key>
					<string>ClaesJ - Legitimerad symbol terapeut…</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6877CEC4-04F8-4632-9D24-51943ECD6B81_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
