<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page1 - file:///Users/anders/Documents/Claes/Published/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-13T09:50:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rix5yCC3JJ3j
								Ka9FWR4O4g==
								</data>
								<key>Size</key>
								<integer>1698</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								pX9S8/Yp05F/
								ng2D0Td/xQ==
								</data>
								<key>Size</key>
								<integer>6982</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/SinglePageSplashTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-14T06:43:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rix5yCC3JJ3j
								Ka9FWR4O4g==
								</data>
								<key>Size</key>
								<integer>1698</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								2jABy00Z3Iri
								ZakhBKBImg==
								</data>
								<key>Size</key>
								<integer>7592</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Claes/Published/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-13T09:50:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/banner_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UCEmx4aHjSC1
								qL0J1fX0/g==
								</data>
								<key>Size</key>
								<integer>70568</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								CnhmRluOveY1
								fs8wkUy+uA==
								</data>
								<key>Size</key>
								<integer>168</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/SinglePageSplashTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-14T06:43:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/images/banner_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UCEmx4aHjSC1
								qL0J1fX0/g==
								</data>
								<key>Size</key>
								<integer>70568</integer>
							</dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								xrucYjPt8LFI
								MzvIjPFCLg==
								</data>
								<key>Size</key>
								<integer>172</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Claes/Published/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-13T09:50:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wrYWrUnkPlzm
								U9IR29j5/A==
								</data>
								<key>Size</key>
								<integer>1713</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/SinglePageSplashTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-14T06:43:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								wrYWrUnkPlzm
								U9IR29j5/A==
								</data>
								<key>Size</key>
								<integer>1713</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:freesplash - file:///Users/anders/Documents/Claes/Published/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-13T09:50:06Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								4wNNgTy3Gn7O
								KbZos14tKw==
								</data>
								<key>Size</key>
								<integer>24685</integer>
							</dict>
							<key>images/editable_images/banner_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UCEmx4aHjSC1
								qL0J1fX0/g==
								</data>
								<key>Size</key>
								<integer>70568</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:freesplash</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/freesplash</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:freesplash - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/SinglePageSplashTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-14T06:43:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9emvQ3x5WBbe
								xQ6PZ1ABrA==
								</data>
								<key>Size</key>
								<integer>24637</integer>
							</dict>
							<key>images/editable_images/banner_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UCEmx4aHjSC1
								qL0J1fX0/g==
								</data>
								<key>Size</key>
								<integer>70568</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:freesplash</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/freesplash</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGy8xYJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoK8QNAcIERIcHR4h
				KC9CQ0RFS05SVV1eX2BkaHN0dXZ6fYWGh5KTlJWZnKSl
				prGys7S4u8PExclVJG51bGzTCQoLDA4QV05TLmtleXNa
				TlMub2JqZWN0c1YkY2xhc3OhDYACoQ+AA4AzVG5vZGXV
				ExQVFgsXGBkaG1ROYW1lVWl0ZW1zWmlkZW50aWZpZXJY
				Y2hpbGRyZW6ABYAIgASABoAyXxAkNEQ2Rjg2NDQtRDcy
				QS00QzY5LUIyNzItODU3Rjc0NDUyRkQzXxAPVW50aXRs
				ZWQgRm9sZGVy0goLHyCggAfSIiMkJVokY2xhc3NuYW1l
				WCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5oyQmJ1dOU0Fy
				cmF5WE5TT2JqZWN00goLKSCkKissLYAJgBeAIIApgAfa
				MDELMjM0EzU2Nzg5Ojs5PT4/QEFeUmVtb3RlUmVzb3Vy
				Y2VbT3JpZ2luYWxVUkxcUHVibGlzaGVkVVJMXVB1Ymxp
				c2hlZERhdGVfEA9DaGFuZ2VkU3RhdHVzZXNaSWRlbnRp
				ZmllcllUaW1lU3RhbXBZRmlsZVRva2VuCYAAgBaADYAA
				gBGAC4AKgA+ADF8QJDgwMjgyQ0JFLTEzRDEtNDFBOS05
				QzI0LTk5MkQ0ODIyODNEM18QJHBob3RvLTE1ODAzNDY1
				ODUwOTAtOTU0NjMxM2Q0NDlhLmpwZ18Qm2h0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTgwMzQ2
				NTg1MDkwLTk1NDYzMTNkNDQ5YT9peGxpYj1yYi0xLjIu
				MSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hC
				ZmFXUWlPakV6TWpRNWZR00YLRzlJQVdOUy5iYXNlW05T
				LnJlbGF0aXZlgACADoAM0iIjTE1VTlNVUkyiTCfSTwtQ
				UVdOUy50aW1lI0HCh6Q77YpVgBDSIiNTVFZOU0RhdGWi
				UyfTCQoLVllcoldYgBKAE6JaWoAUgBSAFV8QamZpbGU6
				Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9S
				YXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2
				MzUuY2xhZXNKLmlvL1NpbmdsZVBhZ2VTcGxhc2hUaGVt
				ZS9fEC9maWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVu
				dHMvQ2xhZXMvUHVibGlzaGVkLwjSIiNhYl8QE05TTXV0
				YWJsZURpY3Rpb25hcnmjYWMnXE5TRGljdGlvbmFyedIi
				I2VmXlJXU2l0ZVJlc291cmNlomcnXlJXU2l0ZVJlc291
				cmNl2jAxCzIzNBM1Njc4OTpsOW5vcHFyCYAAgBaAG4AA
				gB2AGYAYgByAGl8QJDk0MjEwQkNFLTlCRDktNDAwMS05
				N0RBLUZEQkQ5RDc2NURBQ18QJHBob3RvLTE0OTU2MDMx
				NTc4MDctODUzOWU4MGRiNjc2LmpwZ18Qm2h0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNDk1NjAz
				MTU3ODA3LTg1MzllODBkYjY3Nj9peGxpYj1yYi0xLjIu
				MSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hC
				ZmFXUWlPakV6TWpRNWZR00YLRzlJcoAAgA6AGtJPC3tR
				I0HCh6Q77YrKgBDTCQoLfoFcon+AgB6AH6JaWoAUgBSA
				FV8QamZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50
				cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9h
				bmRlcnMyNTQ2MzUuY2xhZXNKLmlvL1NpbmdsZVBhZ2VT
				cGxhc2hUaGVtZS9fEC9maWxlOi8vL1VzZXJzL2FuZGVy
				cy9Eb2N1bWVudHMvQ2xhZXMvUHVibGlzaGVkL9owMQsy
				MzQTNTY3ODk6izmNjo+QkQmAAIAWgCSAAIAmgCKAIYAl
				gCNfECRFMUI1NUVDOS02RENDLTQwRkEtODYzNC0yRjZB
				NzJGNDg5MzhfECRwaG90by0xNTAwNjk5MjY1NDkxLTE5
				M2VkM2YxNTliMC5qcGdfEJtodHRwczovL2ltYWdlcy51
				bnNwbGFzaC5jb20vcGhvdG8tMTUwMDY5OTI2NTQ5MS0x
				OTNlZDNmMTU5YjA/aXhsaWI9cmItMS4yLjEmcT04MCZm
				bT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9
				MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pF
				ek1qUTVmUdNGC0c5SZGAAIAOgCPSTwuaUSNBwoekO+2K
				9IAQ0wkKC52gXKKen4AngCiiWlqAFIAUgBVfEGpmaWxl
				Oi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMv
				UmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0
				NjM1LmNsYWVzSi5pby9TaW5nbGVQYWdlU3BsYXNoVGhl
				bWUvXxAvZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1l
				bnRzL0NsYWVzL1B1Ymxpc2hlZC/aMDELMjM0EzU2Nzg5
				Oqo5rK2ur7AJgACAFoAtgACAL4ArgCqALoAsXxAkMUYz
				NDNCODUtMTU3Ny00NTAyLTg1MUYtQzU4NTMzMTM1MThD
				XxAkcGhvdG8tMTUxNzg1NTY5NTM0OS02MTI5Y2JjODBh
				MGQuanBnXxCbaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2gu
				Y29tL3Bob3RvLTE1MTc4NTU2OTUzNDktNjEyOWNiYzgw
				YTBkP2l4bGliPXJiLTEuMi4xJnE9ODAmZm09anBnJmNy
				b3A9ZW50cm9weSZjcz10aW55c3JnYiZ3PTEwODAmZml0
				PW1heCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1ZlHT
				RgtHOUmwgACADoAs0k8LuVEjQcKHpDvtixWAENMJCgu8
				v1yivb6AMIAxolpagBSAFIAVXxBqZmlsZTovLy9Vc2Vy
				cy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2Vh
				dmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFl
				c0ouaW8vU2luZ2xlUGFnZVNwbGFzaFRoZW1lL18QL2Zp
				bGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9DbGFl
				cy9QdWJsaXNoZWQv0iIjxsdcUldTaXRlRm9sZGVyosgn
				XFJXU2l0ZUZvbGRlctIiI2PKomMnXxAPTlNLZXllZEFy
				Y2hpdmVy0c3OVHJvb3SAAQAIABEAGgAjAC0AMgA3AG4A
				dAB7AIMAjgCVAJcAmQCbAJ0AnwCkAK8AtAC6AMUAzgDQ
				ANIA1ADWANgA/wERARYBFwEZAR4BKQEyAUEBRQFNAVYB
				WwFgAWIBZAFmAWgBagF/AY4BmgGnAbUBxwHSAdwB5gHn
				AekB6wHtAe8B8QHzAfUB9wH5AiACRwLlAuwC9AMAAwID
				BAMGAwsDEQMUAxkDIQMqAywDMQM4AzsDQgNFA0cDSQNM
				A04DUANSA78D8QPyA/cEDQQRBB4EIwQyBDUERARZBFoE
				XAReBGAEYgRkBGYEaARqBGwEkwS6BVgFXwVhBWMFZQVq
				BXMFdQV8BX8FgQWDBYYFiAWKBYwF+QYrBkAGQQZDBkUG
				RwZJBksGTQZPBlEGUwZ6BqEHPwdGB0gHSgdMB1EHWgdc
				B2MHZgdoB2oHbQdvB3EHcwfgCBIIJwgoCCoILAguCDAI
				Mgg0CDYIOAg6CGEIiAkmCS0JLwkxCTMJOAlBCUMJSglN
				CU8JUQlUCVYJWAlaCccJ+Qn+CgsKDgobCiAKIwo1CjgK
				PQAAAAAAAAIBAAAAAAAAAM8AAAAAAAAAAAAAAAAAAAo/
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BaseURL</key>
					<string>https://www.claesj.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Claes J</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>claes.34@claesj.se</string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va3wDAAAAAAQQMAAA
							AOlI7j55qQOQy3mb9Thv
							PgVUqZr/BjDUdRROHdmv
							rOVIeAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAGFu
							ZGVycwAACQAAAAEBAABE
							b2N1bWVudHMAAAAFAAAA
							AQEAAFNpdGVzAAAADgAA
							AAEBAABSYXBpZHdlYXZl
							ciA4IAAABAAAAAEBAABU
							ZXN0FgAAAAEBAABhbmRl
							cnMyNTQ2MzUuY2xhZXNK
							LmlvAAAVAAAAAQEAAFNp
							bmdsZVBhZ2VTcGxhc2hU
							aGVtZQAAACAAAAABBgAA
							EAAAACAAAAAwAAAARAAA
							AFQAAABsAAAAeAAAAJgA
							AAAIAAAABAMAAPlmAgAA
							AAAACAAAAAQDAABqNQkA
							AAAAAAgAAAAEAwAAazUJ
							AAAAAAAIAAAABAMAAPnt
							EwAAAAAACAAAAAQDAAAS
							3o0BAAAAAAgAAAAEAwAA
							Hd6NAQAAAAAIAAAABAMA
							AACHrQIAAAAACAAAAAQD
							AAD4la0CAAAAACAAAAAB
							BgAA4AAAAPAAAAAAAQAA
							EAEAACABAAAwAQAAQAEA
							AFABAAAIAAAAAAQAAEHC
							hxFJgAAAGAAAAAECAAAC
							AAAAAAAAAA8AAAAAAAAA
							AAAAAAAAAAAIAAAABAMA
							AAYAAAAAAAAABAAAAAMD
							AAD1AQAACAAAAAEJAABm
							aWxlOi8vLwwAAAABAQAA
							TWFjaW50b3NoIEhECAAA
							AAQDAAAAAGgnOgAAAAgA
							AAAABAAAQblescYAAAAk
							AAAAAQEAADVFQzlFODJD
							LUMzQzQtM0MxNS1CNjQ1
							LTIzODFCQUY0MEJERBgA
							AAABAgAAgQAAAAEAAADv
							EwAAAQAAAAAAAAAAAAAA
							AQAAAAEBAAAvAAAAAAAA
							AAEFAADMAAAA/v///wEA
							AAAAAAAAEAAAAAQQAAC4
							AAAAAAAAAAUQAABgAQAA
							AAAAABAQAACYAQAAAAAA
							AEAQAACIAQAAAAAAAAIg
							AABkAgAAAAAAAAUgAADU
							AQAAAAAAABAgAADkAQAA
							AAAAABEgAAAYAgAAAAAA
							ABIgAAD4AQAAAAAAABMg
							AAAIAgAAAAAAACAgAABE
							AgAAAAAAADAgAABwAgAA
							AAAAAAHAAAC4AQAAAAAA
							ABHAAAAgAAAAAAAAABLA
							AADIAQAAAAAAABDQAAAE
							AAAAAAAAAA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>ClaesJ Local file</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLanguage</key>
					<string>sv</string>
					<key>SloganText</key>
					<string>Legitimerad symbol terapeut…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Free Splash</string>
					<key>TitleText</key>
					<string>ClaesJ</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6877CEC4-04F8-4632-9D24-51943ECD6B81_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
