<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								26KNprotBnXp
								bo9jLAoLBg==
								</data>
								<key>Size</key>
								<integer>4351</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageVoyagerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:54:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8WehLHRvxJay
								qDu2WypJIw==
								</data>
								<key>Size</key>
								<integer>5793</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lH85Irb0FUDT
								FIndpcW+Kw==
								</data>
								<key>Size</key>
								<integer>1653</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								ZfeS1zlUbfGt
								hnwfmaUxEQ==
								</data>
								<key>Size</key>
								<integer>7578</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageVoyagerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:54:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lH85Irb0FUDT
								FIndpcW+Kw==
								</data>
								<key>Size</key>
								<integer>1653</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EolTCoI5BvAU
								J454sqOQ3g==
								</data>
								<key>Size</key>
								<integer>9126</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageVoyagerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:54:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageVoyagerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:54:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:Voyager - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageVoyagerTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:54:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								EJlLULqKftiP
								dcnSotJ24Q==
								</data>
								<key>Size</key>
								<integer>180098</integer>
							</dict>
							<key>fonts/FontAwesome.otf</key>
							<dict>
								<key>Digest</key>
								<data>
								DScXzV2FPlx2
								XKAy39QaTQ==
								</data>
								<key>Size</key>
								<integer>134808</integer>
							</dict>
							<key>fonts/fontawesome-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Z09Q0oeoxI3B
								m6QE0g/nEw==
								</data>
								<key>Size</key>
								<integer>165742</integer>
							</dict>
							<key>fonts/fontawesome-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kS7GbXVy/4IX
								STGTlkcL3g==
								</data>
								<key>Size</key>
								<integer>444379</integer>
							</dict>
							<key>fonts/fontawesome-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								sGhx8oH+5rJB
								1gWCrpNpuQ==
								</data>
								<key>Size</key>
								<integer>165548</integer>
							</dict>
							<key>fonts/fontawesome-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								/uZucSqKCO71
								gFpGiSkyrQ==
								</data>
								<key>Size</key>
								<integer>98024</integer>
							</dict>
							<key>fonts/fontawesome-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								r3rlBanu1QP4
								uOaYIDaHPg==
								</data>
								<key>Size</key>
								<integer>77160</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								FIpnSbql9lik
								UYPdte4Vnw==
								</data>
								<key>Size</key>
								<integer>15667</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								LgCyY1tRujNr
								S2el0LwDxw==
								</data>
								<key>Size</key>
								<integer>55652</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								fgjMZWhj1SvL
								XNNIBaxgWw==
								</data>
								<key>Size</key>
								<integer>28192</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								Yj4yBVcAAq9H
								/CuI+TNdGQ==
								</data>
								<key>Size</key>
								<integer>18476</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								0IwJ8vFp9Kbt
								vPi40WNstA==
								</data>
								<key>Size</key>
								<integer>14720</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nc5/AXFTQIYb
								21cxji8/3A==
								</data>
								<key>Size</key>
								<integer>15050</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								eqtME2cSgskG
								aetqEDV+QQ==
								</data>
								<key>Size</key>
								<integer>56266</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								wEW3PYaANob0
								zRzD+c66WQ==
								</data>
								<key>Size</key>
								<integer>26488</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								vy0Hg1FbfXXD
								W95p4BsxNQ==
								</data>
								<key>Size</key>
								<integer>17704</integer>
							</dict>
							<key>fonts/open-sans-v15-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								z/tobX0vRoLf
								g0K9TSduCQ==
								</data>
								<key>Size</key>
								<integer>14048</integer>
							</dict>
							<key>images/banners/default_banner.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								dwjwK20IA28M
								qw+YcCNf/Q==
								</data>
								<key>Size</key>
								<integer>198561</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>js/elixir.js</key>
							<dict>
								<key>Digest</key>
								<data>
								eIIBh122XFQO
								8R718CuuHA==
								</data>
								<key>Size</key>
								<integer>2526</integer>
							</dict>
							<key>js/fitvids.js</key>
							<dict>
								<key>Digest</key>
								<data>
								cGG1Dur+zTIp
								Q22jBY6fbg==
								</data>
								<key>Size</key>
								<integer>2163</integer>
							</dict>
							<key>js/jquery.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								ensYYGRIve0i
								zRz0jUcSzA==
								</data>
								<key>Size</key>
								<integer>84344</integer>
							</dict>
							<key>js/sidebar/sidebar_hidden.js</key>
							<dict>
								<key>Digest</key>
								<data>
								SRS4eWVXK9er
								IP1cgHtLCQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
							<key>js/sidebar/sidebar_left.js</key>
							<dict>
								<key>Digest</key>
								<data>
								InAonBvK0ovn
								dkNrJR3p+g==
								</data>
								<key>Size</key>
								<integer>332</integer>
							</dict>
							<key>js/sidebar/sidebar_right.js</key>
							<dict>
								<key>Digest</key>
								<data>
								AmCXV6GC9QnL
								dNZ/i07luw==
								</data>
								<key>Size</key>
								<integer>304</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:Voyager</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/Voyager</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:kiki - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageKickiTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:29Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2bbp0EOnmX44
								6dSzudrh8A==
								</data>
								<key>Size</key>
								<integer>46908</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								XY27UThXUOZC
								zJ8/0onUrQ==
								</data>
								<key>Size</key>
								<integer>19168</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								LpQ7ovH4uLAn
								XG57KWNxFw==
								</data>
								<key>Size</key>
								<integer>51139</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								JHvqjNjvJoXz
								SMe9yKB4OA==
								</data>
								<key>Size</key>
								<integer>35000</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								WOzJ4z4+bKcc
								4rFx+l/LDg==
								</data>
								<key>Size</key>
								<integer>20696</integer>
							</dict>
							<key>fonts/francois-one-v11-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								X7nKXqpEQ7+V
								+R3xDF+voA==
								</data>
								<key>Size</key>
								<integer>16852</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								rU3YM9vMjCtW
								9Iky2CSNIA==
								</data>
								<key>Size</key>
								<integer>32176</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZbnselnulIHe
								ioqs7mUb3g==
								</data>
								<key>Size</key>
								<integer>65508</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								NgA/0+Zq25aV
								FtoiJvogBA==
								</data>
								<key>Size</key>
								<integer>85712</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								zhh82ytFWFV5
								I1fpRlJYAQ==
								</data>
								<key>Size</key>
								<integer>38520</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								GIw9xkin/Uf3
								EjEVOaQO3Q==
								</data>
								<key>Size</key>
								<integer>30540</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								FdMKrfM22vUL
								USKI+dYvFw==
								</data>
								<key>Size</key>
								<integer>42684</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								9Yu8XeE6exOv
								KNWVEjXyhg==
								</data>
								<key>Size</key>
								<integer>70801</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								q2ahaj28Kzaz
								GQSg2LDxZA==
								</data>
								<key>Size</key>
								<integer>112888</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								YEpWaU+4460x
								JOZxUOB/GQ==
								</data>
								<key>Size</key>
								<integer>49288</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								2he6DwCMtYex
								mEsJWN0aJw==
								</data>
								<key>Size</key>
								<integer>38936</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								eQNPeqQ13spv
								4ZvBSkJYsQ==
								</data>
								<key>Size</key>
								<integer>41256</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								x3Nrz9sYG2FW
								vVo6b4egGA==
								</data>
								<key>Size</key>
								<integer>67174</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								s0PATtfVZrZ4
								3Kxla60woA==
								</data>
								<key>Size</key>
								<integer>108260</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								2eJWgudulW4M
								BAscMyWTgA==
								</data>
								<key>Size</key>
								<integer>47444</integer>
							</dict>
							<key>fonts/josefin-slab-v8-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								09xoX7GZ0wsU
								cL0m7flonw==
								</data>
								<key>Size</key>
								<integer>37408</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								1a1QfB5Ddff9
								b0FJoH49jg==
								</data>
								<key>Size</key>
								<integer>20837</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								VqkNSRXPDTmr
								q9b6sWKVzg==
								</data>
								<key>Size</key>
								<integer>64954</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								xNeSS4NWc+a6
								dy5nkJ0y8w==
								</data>
								<key>Size</key>
								<integer>38296</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								zGc8lFtILcE3
								jUo8lf/RdQ==
								</data>
								<key>Size</key>
								<integer>22696</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								FjbxOlLKPw64
								eEycV/Yggg==
								</data>
								<key>Size</key>
								<integer>18484</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Nax+T2B9ntqW
								u7bURp3gNQ==
								</data>
								<key>Size</key>
								<integer>21144</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								AL1lKdztZ0qj
								jFw9ZDCE6Q==
								</data>
								<key>Size</key>
								<integer>69569</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								CAvYBZHXcrVf
								RZc9/aiuuQ==
								</data>
								<key>Size</key>
								<integer>37512</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								CrS1TzseixTP
								dVlw/ejONQ==
								</data>
								<key>Size</key>
								<integer>22884</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								XJoj0I4shR5a
								JXlblArNTw==
								</data>
								<key>Size</key>
								<integer>18740</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nQMz0lOrJqhH
								dQvqEu8GfA==
								</data>
								<key>Size</key>
								<integer>21180</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								lGaWAv/l81kb
								SKqPsUrBgA==
								</data>
								<key>Size</key>
								<integer>65455</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								4a4aDLUdMo2b
								jgQm9Iub6Q==
								</data>
								<key>Size</key>
								<integer>39324</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								qwYW5thWgX7/
								VOuMXhZk5A==
								</data>
								<key>Size</key>
								<integer>23036</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								+TbLVQ1NzXaf
								dcRTIHrF5g==
								</data>
								<key>Size</key>
								<integer>18816</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								ehvkDqAOj6ab
								btomLuigIw==
								</data>
								<key>Size</key>
								<integer>15520</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								KZX3mzhnsUvX
								DIURkj47HQ==
								</data>
								<key>Size</key>
								<integer>54597</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								zcip8Rjdv4Xv
								XYwGz+BC/A==
								</data>
								<key>Size</key>
								<integer>27576</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								aTAVz+P8+Q4Z
								CkBiVZ4shA==
								</data>
								<key>Size</key>
								<integer>18144</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								EI8fI61F3oru
								pYSVksi2hQ==
								</data>
								<key>Size</key>
								<integer>14520</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								AzSTjy+3juDA
								bP1A4dWs0g==
								</data>
								<key>Size</key>
								<integer>14175</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								jN3qTAUnHsu7
								t/yK9X12xA==
								</data>
								<key>Size</key>
								<integer>57666</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								FcXNyJ0kHTc8
								4ijfRZghsg==
								</data>
								<key>Size</key>
								<integer>24572</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								I8kG1HWfJ83K
								ppkGLBOw6w==
								</data>
								<key>Size</key>
								<integer>16616</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-300italic.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								Tm8eiCVKGGXB
								Nds/7/azmQ==
								</data>
								<key>Size</key>
								<integer>13084</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								NGzDT0BjEYN+
								mP+PDOML5g==
								</data>
								<key>Size</key>
								<integer>17307</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								jQs3Ivz3Dph7
								h8yLxis4Fw==
								</data>
								<key>Size</key>
								<integer>54852</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								9EfgeefkHYhD
								MSAHWLQKdQ==
								</data>
								<key>Size</key>
								<integer>31520</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								ts8dteOCeRnN
								IUi9rpExMQ==
								</data>
								<key>Size</key>
								<integer>19808</integer>
							</dict>
							<key>fonts/open-sans-condensed-v12-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								K1yzbtUEYHae
								gL+CdZwJZQ==
								</data>
								<key>Size</key>
								<integer>15892</integer>
							</dict>
							<key>images/cover1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								cG00Ts2K4Y6Q
								KNrf+lEXcg==
								</data>
								<key>Size</key>
								<integer>117321</integer>
							</dict>
							<key>images/cover2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								8JoPw94mRBTY
								0vzp15bD3A==
								</data>
								<key>Size</key>
								<integer>121950</integer>
							</dict>
							<key>images/cover3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uBSTxsFtleQ9
								vuGGZfRILg==
								</data>
								<key>Size</key>
								<integer>189246</integer>
							</dict>
							<key>images/cover4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								XQEBm+SCMcGm
								+Ba6NdyZgg==
								</data>
								<key>Size</key>
								<integer>152682</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6UR3sfOVg8L3
								EmSZBtot1w==
								</data>
								<key>Size</key>
								<integer>8911</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:kiki</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/kiki</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGATUBNlgkdmVyc2lv
				blgkb2JqZWN0c1kkYXJjaGl2ZXJUJHRvcBIAAYagrxBU
				AAcACAARABIAHAAdAB4AIQAoADEARABFAEYARwBNAFAA
				VABXAGUAZgBnAGgAaQBqAGsAbwBzAH4AfwCAAIEAhQCI
				AJYAlwCYAJkAmgCbAKYApwCoAKkArQCwAL4AvwDAAMEA
				wgDDAM4AzwDQANEA1QDYAOYA5wDoAOkA6gDrAPYA9wD4
				APkA/QEAAQoBCwEMAQ0BGAEZARoBGwEfASIBLAEtAS4B
				LwEzVSRudWxs0wAJAAoACwAMAA4AEFdOUy5rZXlzWk5T
				Lm9iamVjdHNWJGNsYXNzoQANgAKhAA+AA4BTVG5vZGXV
				ABMAFAAVABYACwAXABgAGQAaABtUTmFtZVVpdGVtc1pp
				ZGVudGlmaWVyWGNoaWxkcmVugAWACIAEgAaAUl8QJDRE
				NkY4NjQ0LUQ3MkEtNEM2OS1CMjcyLTg1N0Y3NDQ1MkZE
				M18QD1VudGl0bGVkIEZvbGRlctIACgALAB8AIKCAB9IA
				IgAjACQAJVokY2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0
				YWJsZUFycmF5owAkACYAJ1dOU0FycmF5WE5TT2JqZWN0
				0gAKAAsAKQAgpgAqACsALAAtAC4AL4AJgBqAJoAygD6A
				SIAH2gAyADMACwA0ADUANgATADcAOAA5ADoAOwA8AD0A
				OwA/AEAAQQBCAENeUmVtb3RlUmVzb3VyY2VbT3JpZ2lu
				YWxVUkxcUHVibGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVf
				EA9DaGFuZ2VkU3RhdHVzZXNaSWRlbnRpZmllcllUaW1l
				U3RhbXBZRmlsZVRva2VuCYAAgBmADYAAgBGAC4AKgA+A
				DF8QJDgwMjgyQ0JFLTEzRDEtNDFBOS05QzI0LTk5MkQ0
				ODIyODNEM18QJHBob3RvLTE1ODAzNDY1ODUwOTAtOTU0
				NjMxM2Q0NDlhLmpwZ18Qm2h0dHBzOi8vaW1hZ2VzLnVu
				c3BsYXNoLmNvbS9waG90by0xNTgwMzQ2NTg1MDkwLTk1
				NDYzMTNkNDQ5YT9peGxpYj1yYi0xLjIuMSZxPTgwJmZt
				PWpwZyZjcm9wPWVudHJvcHkmY3M9dGlueXNyZ2Imdz0x
				MDgwJmZpdD1tYXgmaXhpZD1leUpoY0hCZmFXUWlPakV6
				TWpRNWZR0wBIAAsASQA7AEsAQ1dOUy5iYXNlW05TLnJl
				bGF0aXZlgACADoAM0gAiACMATgBPVU5TVVJMogBOACfS
				AFEACwBSAFNXTlMudGltZSNBwok9Vd0s+YAQ0gAiACMA
				VQBWVk5TRGF0ZaIAVQAn0wAJAAoACwBYAF4AZKUAWQBa
				AFsAXABdgBKAE4AUgBWAFqUAXwBfAF8AXwBfgBeAF4AX
				gBeAF4AYXxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9j
				dW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9U
				ZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQ
				YWdlS2lja2lUaGVtZS9fEC9maWxlOi8vL1VzZXJzL2Fu
				ZGVycy9Eb2N1bWVudHMvQ2xhZXMvUHVibGlzaGVkL18Q
				amZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9T
				aXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRl
				cnMyNTQ2MzUuY2xhZXNKLmlvL1NpbmdsZVBhZ2VTcGxh
				c2hUaGVtZS9fEGdmaWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIw
				L1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0
				aXBlTGFuZGVyVGhlbWUvXxBqZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlQYWdlVm95YWdlclRoZW1lLwjSACIAIwBs
				AG1fEBNOU011dGFibGVEaWN0aW9uYXJ5owBsAG4AJ1xO
				U0RpY3Rpb25hcnnSACIAIwBwAHFeUldTaXRlUmVzb3Vy
				Y2WiAHIAJ15SV1NpdGVSZXNvdXJjZdoAMgAzAAsANAA1
				ADYAEwA3ADgAOQA6ADsAPAB3ADsAeQB6AHsAfAB9CYAA
				gBmAHoAAgCCAHIAbgB+AHV8QJDk0MjEwQkNFLTlCRDkt
				NDAwMS05N0RBLUZEQkQ5RDc2NURBQ18QJHBob3RvLTE0
				OTU2MDMxNTc4MDctODUzOWU4MGRiNjc2LmpwZ18Qm2h0
				dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0x
				NDk1NjAzMTU3ODA3LTg1MzllODBkYjY3Nj9peGxpYj1y
				Yi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkm
				Y3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1l
				eUpoY0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsA
				fYAAgA6AHdIAUQALAIYAUyNBwok9Vd0td4AQ0wAJAAoA
				CwCJAI8AZKUAigCLAIwAjQCOgCGAIoAjgCSAJaUAXwBf
				AF8AXwBfgBeAF4AXgBeAF4AYXxBoZmlsZTovLy9Vc2Vy
				cy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2Vh
				dmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFl
				c0ouaW8vTXVsdGlQYWdlS2lja2lUaGVtZS9fEC9maWxl
				Oi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvQ2xhZXMv
				UHVibGlzaGVkL18QamZpbGU6Ly8vVXNlcnMvYW5kZXJz
				L0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDgl
				MjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL1Np
				bmdsZVBhZ2VTcGxhc2hUaGVtZS9fEGdmaWxlOi8vL1Vz
				ZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3
				ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNs
				YWVzSi5pby9NdWx0aXBlTGFuZGVyVGhlbWUvXxBqZmls
				ZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVz
				L1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1
				NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlVm95YWdlclRo
				ZW1lL9oAMgAzAAsANAA1ADYAEwA3ADgAOQA6ADsAPACf
				ADsAoQCiAKMApAClCYAAgBmAKoAAgCyAKIAngCuAKV8Q
				JEUxQjU1RUM5LTZEQ0MtNDBGQS04NjM0LTJGNkE3MkY0
				ODkzOF8QJHBob3RvLTE1MDA2OTkyNjU0OTEtMTkzZWQz
				ZjE1OWIwLmpwZ18Qm2h0dHBzOi8vaW1hZ2VzLnVuc3Bs
				YXNoLmNvbS9waG90by0xNTAwNjk5MjY1NDkxLTE5M2Vk
				M2YxNTliMD9peGxpYj1yYi0xLjIuMSZxPTgwJmZtPWpw
				ZyZjcm9wPWVudHJvcHkmY3M9dGlueXNyZ2Imdz0xMDgw
				JmZpdD1tYXgmaXhpZD1leUpoY0hCZmFXUWlPakV6TWpR
				NWZR0wBIAAsASQA7AEsApYAAgA6AKdIAUQALAK4AUyNB
				wok9Vd0toYAQ0wAJAAoACwCxALcAZKUAsgCzALQAtQC2
				gC2ALoAvgDCAMaUAXwBfAF8AXwBfgBeAF4AXgBeAF4AY
				XxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRz
				L1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2Fu
				ZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlS2lj
				a2lUaGVtZS9fEC9maWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvQ2xhZXMvUHVibGlzaGVkL18QamZpbGU6
				Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9S
				YXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2
				MzUuY2xhZXNKLmlvL1NpbmdsZVBhZ2VTcGxhc2hUaGVt
				ZS9fEGdmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVu
				dHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3Qv
				YW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFu
				ZGVyVGhlbWUvXxBqZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUy
				MC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVs
				dGlQYWdlVm95YWdlclRoZW1lL9oAMgAzAAsANAA1ADYA
				EwA3ADgAOQA6ADsAPADHADsAyQDKAMsAzADNCYAAgBmA
				NoAAgDiANIAzgDeANV8QJDFGMzQzQjg1LTE1NzctNDUw
				Mi04NTFGLUM1ODUzMzEzNTE4Q18QJHBob3RvLTE1MTc4
				NTU2OTUzNDktNjEyOWNiYzgwYTBkLmpwZ18Qm2h0dHBz
				Oi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTE3
				ODU1Njk1MzQ5LTYxMjljYmM4MGEwZD9peGxpYj1yYi0x
				LjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9
				dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpo
				Y0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsAzYAA
				gA6ANdIAUQALANYAUyNBwok9Vd0tw4AQ0wAJAAoACwDZ
				AN8AZKUA2gDbANwA3QDegDmAOoA7gDyAPaUAXwBfAF8A
				XwBfgBeAF4AXgBeAF4AYXxBoZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlQYWdlS2lja2lUaGVtZS9fEC9maWxlOi8v
				L1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvQ2xhZXMvUHVi
				bGlzaGVkL18QamZpbGU6Ly8vVXNlcnMvYW5kZXJzL0Rv
				Y3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAv
				VGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL1Npbmds
				ZVBhZ2VTcGxhc2hUaGVtZS9fEGdmaWxlOi8vL1VzZXJz
				L2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2
				ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVz
				Si5pby9NdWx0aXBlTGFuZGVyVGhlbWUvXxBqZmlsZTov
				Ly9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1Jh
				cGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYz
				NS5jbGFlc0ouaW8vTXVsdGlQYWdlVm95YWdlclRoZW1l
				L9oAMgAzAAsANAA1ADYAEwA3ADgAOQA6ADsAPADvADsA
				8QDyAPMA9AD1CYAAgBmAQoAAgESAQIA/gEOAQV8QJEVD
				NUI1NjE3LTE1NTAtNDU1NC04QzBELUE3OUQ0NDczMEVC
				M18QJHBob3RvLTE0OTAxMDA2Njc5OTAtNGZjZWQ4MDIx
				NjQ5LmpwZ18Qm2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNo
				LmNvbS9waG90by0xNDkwMTAwNjY3OTkwLTRmY2VkODAy
				MTY0OT9peGxpYj1yYi0xLjIuMSZxPTgwJmZtPWpwZyZj
				cm9wPWVudHJvcHkmY3M9dGlueXNyZ2Imdz0xMDgwJmZp
				dD1tYXgmaXhpZD1leUpoY0hCZmFXUWlPakV6TWpRNWZR
				0wBIAAsASQA7AEsA9YAAgA6AQdIAUQALAP4AUyNBwok9
				Vd0t7YAQ0wAJAAoACwEBAQUAZKMBAgEDAQSARYBGgEej
				AF8AXwBfgBeAF4AXgBhfEGhmaWxlOi8vL1VzZXJzL2Fu
				ZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIl
				MjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5p
				by9NdWx0aVBhZ2VLaWNraVRoZW1lL18QamZpbGU6Ly8v
				VXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBp
				ZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUu
				Y2xhZXNKLmlvL011bHRpUGFnZVZveWFnZXJUaGVtZS9f
				EGdmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMv
				U2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5k
				ZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFuZGVy
				VGhlbWUv2gAyADMACwA0ADUANgATADcAOAA5ADoAOwA8
				AREAOwETARQBFQEWARcJgACAGYBMgACAToBKgEmATYBL
				XxAkQTUwMDQxNTgtQ0VEOC00MzE0LUI3N0ItMUVEODhB
				NEYyREJDXxAkcGhvdG8tMTQyNTkxMzM5NzMzMC1jZjhh
				ZjJmZjQwYTEuanBnXxCbaHR0cHM6Ly9pbWFnZXMudW5z
				cGxhc2guY29tL3Bob3RvLTE0MjU5MTMzOTczMzAtY2Y4
				YWYyZmY0MGExP2l4bGliPXJiLTEuMi4xJnE9ODAmZm09
				anBnJmNyb3A9ZW50cm9weSZjcz10aW55c3JnYiZ3PTEw
				ODAmZml0PW1heCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpN
				alE1ZlHTAEgACwBJADsASwEXgACADoBL0gBRAAsBIABT
				I0HCiT1V3S4OgBDTAAkACgALASMBJwBkowEkASUBJoBP
				gFCAUaMAXwBfAF+AF4AXgBeAGF8QaGZpbGU6Ly8vVXNl
				cnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdl
				YXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xh
				ZXNKLmlvL011bHRpUGFnZUtpY2tpVGhlbWUvXxBqZmls
				ZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVz
				L1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1
				NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlVm95YWdlclRo
				ZW1lL18QZ2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3Vt
				ZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVz
				dC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpcGVM
				YW5kZXJUaGVtZS/SACIAIwEwATFcUldTaXRlRm9sZGVy
				ogEyACdcUldTaXRlRm9sZGVy0gAiACMAbgE0ogBuACdf
				EA9OU0tleWVkQXJjaGl2ZXLRATcBOFRyb290gAEACAAZ
				ACIAKwA1ADoAPwDqAPAA/QEFARABFwEaARwBHwEhASMB
				KAE9AUIBSAFTAVwBXgFgAWIBZAFmAY0BnwGoAakBqwG0
				Ab8ByAHXAd4B5gHvAfgCBQIHAgkCCwINAg8CEQITAjwC
				SwJXAmQCcgKEAo8CmQKjAqQCpgKoAqoCrAKuArACsgK0
				ArYC3QMEA6IDrwO3A8MDxQPHA8kD0gPYA90D5gPuA/cD
				+QQCBAkEDgQbBCYEKAQqBCwELgQwBDsEPQQ/BEEEQwRF
				BEcEsgTkBVEFuwYoBikGMgZIBk8GXAZlBnQGeQaIBrEG
				sga0BrYGuAa6BrwGvgbABsIGxAbrBxIHsAe9B78HwQfD
				B8wH1QfXB+QH7wfxB/MH9Qf3B/kIBAgGCAgICggMCA4I
				EAh7CK0JGgmECfEKGgobCh0KHwohCiMKJQonCikKKwot
				ClQKewsZCyYLKAsqCywLNQs+C0ALTQtYC1oLXAteC2AL
				YgttC28LcQtzC3ULdwt5C+QMFgyDDO0NWg2DDYQNhg2I
				DYoNjA2ODZANkg2UDZYNvQ3kDoIOjw6RDpMOlQ6eDqcO
				qQ62DsEOww7FDscOyQ7LDtYO2A7aDtwO3g7gDuIPTQ9/
				D+wQVhDDEOwQ7RDvEPEQ8xD1EPcQ+RD7EP0Q/xEmEU0R
				6xH4EfoR/BH+EgcSEBISEh8SJhIoEioSLBIzEjUSNxI5
				EjsSphMTE30TphOnE6kTqxOtE68TsROzE7UTtxO5E+AU
				BxSlFLIUtBS2FLgUwRTKFMwU2RTgFOIU5BTmFO0U7xTx
				FPMU9RVgFc0WNxZAFk0WUhZfFmgWbRZ/FoQWiQAAAAAA
				AAICAAAAAAAAATkAAAAAAAAAAAAAAAAAABaL
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>EC5B5617-1550-4554-8C0D-A79D44730EB3</string>
					<key>BaseURL</key>
					<string>https://www.claesj.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Claes J</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>claes.34@claesj.se</string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Kicki Theme Green</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va3wDAAAAAAQQMAAA
							AN9ZQaHVzGDvjrPBSFEL
							+Yx4cwhh38LtlBrjLe5L
							4KoyeAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAGFu
							ZGVycwAACQAAAAEBAABE
							b2N1bWVudHMAAAAFAAAA
							AQEAAFNpdGVzAAAADgAA
							AAEBAABSYXBpZHdlYXZl
							ciA4IAAABAAAAAEBAABU
							ZXN0FgAAAAEBAABhbmRl
							cnMyNTQ2MzUuY2xhZXNK
							LmlvAAAVAAAAAQEAAE11
							bHRpUGFnZVZveWFnZXJU
							aGVtZQAAACAAAAABBgAA
							EAAAACAAAAAwAAAARAAA
							AFQAAABsAAAAeAAAAJgA
							AAAIAAAABAMAAPlmAgAA
							AAAACAAAAAQDAABqNQkA
							AAAAAAgAAAAEAwAAazUJ
							AAAAAAAIAAAABAMAAPnt
							EwAAAAAACAAAAAQDAAAS
							3o0BAAAAAAgAAAAEAwAA
							Hd6NAQAAAAAIAAAABAMA
							AACHrQIAAAAACAAAAAQD
							AADIna8CAAAAACAAAAAB
							BgAA4AAAAPAAAAAAAQAA
							EAEAACABAAAwAQAAQAEA
							AFABAAAIAAAAAAQAAEHC
							iTxbAAAAGAAAAAECAAAC
							AAAAAAAAAA8AAAAAAAAA
							AAAAAAAAAAAIAAAABAMA
							AAYAAAAAAAAABAAAAAMD
							AAD1AQAACAAAAAEJAABm
							aWxlOi8vLwwAAAABAQAA
							TWFjaW50b3NoIEhECAAA
							AAQDAAAAAGgnOgAAAAgA
							AAAABAAAQblescYAAAAk
							AAAAAQEAADVFQzlFODJD
							LUMzQzQtM0MxNS1CNjQ1
							LTIzODFCQUY0MEJERBgA
							AAABAgAAgQAAAAEAAADv
							EwAAAQAAAAAAAAAAAAAA
							AQAAAAEBAAAvAAAAAAAA
							AAEFAADMAAAA/v///wEA
							AAAAAAAAEAAAAAQQAAC4
							AAAAAAAAAAUQAABgAQAA
							AAAAABAQAACYAQAAAAAA
							AEAQAACIAQAAAAAAAAIg
							AABkAgAAAAAAAAUgAADU
							AQAAAAAAABAgAADkAQAA
							AAAAABEgAAAYAgAAAAAA
							ABIgAAD4AQAAAAAAABMg
							AAAIAgAAAAAAACAgAABE
							AgAAAAAAADAgAABwAgAA
							AAAAAAHAAAC4AQAAAAAA
							ABHAAAAgAAAAAAAAABLA
							AADIAQAAAAAAABDQAAAE
							AAAAAAAAAA==
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>ClaesJ Local file</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLanguage</key>
					<string>sv</string>
					<key>SloganText</key>
					<string>Legitimerad symbol terapeut…</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Voyager</string>
					<key>TitleText</key>
					<string>ClaesJ</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6877CEC4-04F8-4632-9D24-51943ECD6B81_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
