<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Claes Jonsson - Leg Psykolog Leg Psykoterapeut</string>
				<key>CreatedDate</key>
				<date>2020-09-22T14:25:46Z</date>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Om</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
					<key>Version</key>
					<string>4.0.4</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageOffroadThemeAltB/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-23T15:01:46Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-a9cc132-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								0K+Ne5bnn6x6
								WVAhvuV1aw==
								</data>
								<key>Size</key>
								<integer>157830</integer>
							</dict>
							<key>files/stacks-image-a9cc132-1200x800@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bqZQzYboHLRS
								wJByszI41g==
								</data>
								<key>Size</key>
								<integer>318164</integer>
							</dict>
							<key>files/stacks-image-db02d41-1200x802.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								kTyolMr9Kytm
								d4mWpe59Sw==
								</data>
								<key>Size</key>
								<integer>161715</integer>
							</dict>
							<key>files/stacks-image-db02d41-1200x802@2x.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EbVFAkbgclol
								bLr1KybpYA==
								</data>
								<key>Size</key>
								<integer>270465</integer>
							</dict>
							<key>files/stacks_page_page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lrvDFM9yxQLz
								9dteTzpdMw==
								</data>
								<key>Size</key>
								<integer>1809</integer>
							</dict>
							<key>files/stacks_page_page2.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								8Fgkw67TkrNI
								wAaYO+POjw==
								</data>
								<key>Size</key>
								<integer>8833</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>page-om</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageOffroadThemeAltC/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-10-04T10:57:40Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks-image-1eb8972-472x316.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								uZvjVls68Bw4
								zKowxe26XQ==
								</data>
								<key>Size</key>
								<integer>25712</integer>
							</dict>
							<key>files/stacks-image-322418a-1200x800.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								UmbPhcNDV1B1
								0kFPYN1CpA==
								</data>
								<key>Size</key>
								<integer>205718</integer>
							</dict>
							<key>files/stacks-image-b5dd99d.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								BvWCF2TFSSk7
								AIJ291TaZQ==
								</data>
								<key>Size</key>
								<integer>90556</integer>
							</dict>
							<key>files/stacks-image-f4e5b1b.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								4H62rdsfOXgZ
								q2z4jVzOlQ==
								</data>
								<key>Size</key>
								<integer>31656</integer>
							</dict>
							<key>files/stacks_page_page2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								iPyr/u9DgJH0
								InJRy6wJsA==
								</data>
								<key>Size</key>
								<integer>2309</integer>
							</dict>
							<key>files/stacks_page_page2.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								yqZR/VkL3QDr
								dxSvrh1oLg==
								</data>
								<key>Size</key>
								<integer>9556</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>page-om</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
