<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultipeLanderTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								4MhgJBx+gx2d
								5BwMjnNEJQ==
								</data>
								<key>Size</key>
								<integer>5782</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultipeLanderTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								rix5yCC3JJ3j
								Ka9FWR4O4g==
								</data>
								<key>Size</key>
								<integer>1698</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								71kNM+JnUxzc
								3F8mA2cq2g==
								</data>
								<key>Size</key>
								<integer>9108</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultipeLanderTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								wqI/Lxp9UpQy
								uBfLMoYQkw==
								</data>
								<key>Size</key>
								<integer>239</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultipeLanderTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:lander - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultipeLanderTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T16:43:49Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pJkHZFByvYBg
								BPQM9TxyAw==
								</data>
								<key>Size</key>
								<integer>140077</integer>
							</dict>
							<key>css/webfonts/breeserif/breeserif-regular-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								xDps+8LdIsjf
								5SjOS/ucEQ==
								</data>
								<key>Size</key>
								<integer>53332</integer>
							</dict>
							<key>css/webfonts/breeserif/breeserif-regular-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								nis7AsttMOXO
								PN/ngcvxTQ==
								</data>
								<key>Size</key>
								<integer>84994</integer>
							</dict>
							<key>css/webfonts/breeserif/breeserif-regular-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								nblPKuJcuCO8
								8fhOdCNc/Q==
								</data>
								<key>Size</key>
								<integer>53228</integer>
							</dict>
							<key>css/webfonts/breeserif/breeserif-regular-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								D/hLVgybzXuV
								U7qDt98zlA==
								</data>
								<key>Size</key>
								<integer>29560</integer>
							</dict>
							<key>css/webfonts/breeserif/breeserif-regular-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								o/kVuO3/hJSU
								OfwW/Pz9yQ==
								</data>
								<key>Size</key>
								<integer>22828</integer>
							</dict>
							<key>css/webfonts/fontawesome/FontAwesome.otf</key>
							<dict>
								<key>Digest</key>
								<data>
								DScXzV2FPlx2
								XKAy39QaTQ==
								</data>
								<key>Size</key>
								<integer>134808</integer>
							</dict>
							<key>css/webfonts/fontawesome/fontawesome-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Z09Q0oeoxI3B
								m6QE0g/nEw==
								</data>
								<key>Size</key>
								<integer>165742</integer>
							</dict>
							<key>css/webfonts/fontawesome/fontawesome-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								kS7GbXVy/4IX
								STGTlkcL3g==
								</data>
								<key>Size</key>
								<integer>444379</integer>
							</dict>
							<key>css/webfonts/fontawesome/fontawesome-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								sGhx8oH+5rJB
								1gWCrpNpuQ==
								</data>
								<key>Size</key>
								<integer>165548</integer>
							</dict>
							<key>css/webfonts/fontawesome/fontawesome-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								/uZucSqKCO71
								gFpGiSkyrQ==
								</data>
								<key>Size</key>
								<integer>98024</integer>
							</dict>
							<key>css/webfonts/fontawesome/fontawesome-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								r3rlBanu1QP4
								uOaYIDaHPg==
								</data>
								<key>Size</key>
								<integer>77160</integer>
							</dict>
							<key>css/webfonts/open-sans-condensed/opensans-condlight-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								MigGfc0mEwQ9
								O1qDpFzkrg==
								</data>
								<key>Size</key>
								<integer>46998</integer>
							</dict>
							<key>css/webfonts/open-sans-condensed/opensans-condlight-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								TMMs2ib/dBi1
								IuQk20yDtQ==
								</data>
								<key>Size</key>
								<integer>115472</integer>
							</dict>
							<key>css/webfonts/open-sans-condensed/opensans-condlight-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								VEyDeJPYMmH2
								6odYEKGs7w==
								</data>
								<key>Size</key>
								<integer>46836</integer>
							</dict>
							<key>css/webfonts/open-sans-condensed/opensans-condlight-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								ZbSLQXwp6kCg
								YLWA2kBwfA==
								</data>
								<key>Size</key>
								<integer>25236</integer>
							</dict>
							<key>css/webfonts/open-sans-condensed/opensans-condlight-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								Xebz9noV+PzW
								+vYFUqHtWw==
								</data>
								<key>Size</key>
								<integer>19344</integer>
							</dict>
							<key>css/webfonts/raleway/raleway-light-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								3aX6plwSNQTJ
								ckO1kFz39w==
								</data>
								<key>Size</key>
								<integer>92500</integer>
							</dict>
							<key>css/webfonts/raleway/raleway-light-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								4OwfNBhNWg9h
								p5wRkY4dLQ==
								</data>
								<key>Size</key>
								<integer>141836</integer>
							</dict>
							<key>css/webfonts/raleway/raleway-light-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								k81UUm+uNqnK
								ZngeXwkekw==
								</data>
								<key>Size</key>
								<integer>92160</integer>
							</dict>
							<key>css/webfonts/raleway/raleway-light-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								f9C21CvAF+Fh
								MvTsBlwxfg==
								</data>
								<key>Size</key>
								<integer>32556</integer>
							</dict>
							<key>css/webfonts/raleway/raleway-light-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								v3QjyA9rI87G
								8KAdT2SNeA==
								</data>
								<key>Size</key>
								<integer>26276</integer>
							</dict>
							<key>css/webfonts/ruluko/ruluko-regular-webfont.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								dLKmqdvm31L8
								Rg/68I3SOQ==
								</data>
								<key>Size</key>
								<integer>44004</integer>
							</dict>
							<key>css/webfonts/ruluko/ruluko-regular-webfont.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								qQ/MBXiD/Xiz
								AWOHqOpDOA==
								</data>
								<key>Size</key>
								<integer>57049</integer>
							</dict>
							<key>css/webfonts/ruluko/ruluko-regular-webfont.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								AGFX9DR8PgJ0
								jgUV4YIlxg==
								</data>
								<key>Size</key>
								<integer>43916</integer>
							</dict>
							<key>css/webfonts/ruluko/ruluko-regular-webfont.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								BgythLXMSHGU
								AC/k0nh6JQ==
								</data>
								<key>Size</key>
								<integer>24852</integer>
							</dict>
							<key>css/webfonts/ruluko/ruluko-regular-webfont.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								qWrrofru7JkD
								BzBWo9gFFA==
								</data>
								<key>Size</key>
								<integer>19188</integer>
							</dict>
							<key>images/editable_images/banner_image.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EPHOrzBV96Ic
								9najUsk+eQ==
								</data>
								<key>Size</key>
								<integer>189374</integer>
							</dict>
							<key>images/elements/grid.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mizt9o1kUgVx
								Tp7su+aXGA==
								</data>
								<key>Size</key>
								<integer>72</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								iTaGLk0NKrMX
								hSvOZBMTyw==
								</data>
								<key>Size</key>
								<integer>10724</integer>
							</dict>
							<key>js/box.js</key>
							<dict>
								<key>Digest</key>
								<data>
								e/JAtlvt7Qmi
								wgG/O8rT8A==
								</data>
								<key>Size</key>
								<integer>1076</integer>
							</dict>
							<key>js/jquery.min.js</key>
							<dict>
								<key>Digest</key>
								<data>
								s1TMnVah2msM
								d2BNGxU4UA==
								</data>
								<key>Size</key>
								<integer>85577</integer>
							</dict>
							<key>js/multithemes.js</key>
							<dict>
								<key>Digest</key>
								<data>
								YX+HUF/tKHPT
								pOONvJCCHg==
								</data>
								<key>Size</key>
								<integer>923</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:lander</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/lander</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAREBElgkdmVyc2lv
				blgkb2JqZWN0c1kkYXJjaGl2ZXJUJHRvcBIAAYagrxBI
				AAcACAARABIAHAAdAB4AIQAoADEARABFAEYARwBNAFAA
				VABXAGEAYgBjAGQAZQBpAG0AeAB5AHoAewB/AIIAjACN
				AI4AjwCaAJsAnACdAKEApACuAK8AsACxALwAvQC+AL8A
				wwDGANAA0QDSANMA3gDfAOAA4QDlAOgA7gDvAPoA+wD8
				AP0BAQEEAQoBCwEPVSRudWxs0wAJAAoACwAMAA4AEFdO
				Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoQANgAKhAA+A
				A4BHVG5vZGXVABMAFAAVABYACwAXABgAGQAaABtUTmFt
				ZVVpdGVtc1ppZGVudGlmaWVyWGNoaWxkcmVugAWACIAE
				gAaARl8QJDRENkY4NjQ0LUQ3MkEtNEM2OS1CMjcyLTg1
				N0Y3NDQ1MkZEM18QD1VudGl0bGVkIEZvbGRlctIACgAL
				AB8AIKCAB9IAIgAjACQAJVokY2xhc3NuYW1lWCRjbGFz
				c2VzXk5TTXV0YWJsZUFycmF5owAkACYAJ1dOU0FycmF5
				WE5TT2JqZWN00gAKAAsAKQAgpgAqACsALAAtAC4AL4AJ
				gBiAIoAsgDaAPoAH2gAyADMACwA0ADUANgATADcAOAA5
				ADoAOwA8AD0AOwA/AEAAQQBCAENeUmVtb3RlUmVzb3Vy
				Y2VbT3JpZ2luYWxVUkxcUHVibGlzaGVkVVJMXVB1Ymxp
				c2hlZERhdGVfEA9DaGFuZ2VkU3RhdHVzZXNaSWRlbnRp
				ZmllcllUaW1lU3RhbXBZRmlsZVRva2VuCYAAgBeADYAA
				gBGAC4AKgA+ADF8QJDgwMjgyQ0JFLTEzRDEtNDFBOS05
				QzI0LTk5MkQ0ODIyODNEM18QJHBob3RvLTE1ODAzNDY1
				ODUwOTAtOTU0NjMxM2Q0NDlhLmpwZ18Qm2h0dHBzOi8v
				aW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTgwMzQ2
				NTg1MDkwLTk1NDYzMTNkNDQ5YT9peGxpYj1yYi0xLjIu
				MSZxPTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlu
				eXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hC
				ZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7AEsAQ1dOUy5i
				YXNlW05TLnJlbGF0aXZlgACADoAM0gAiACMATgBPVU5T
				VVJMogBOACfSAFEACwBSAFNXTlMudGltZSNBwok8I81B
				hYAQ0gAiACMAVQBWVk5TRGF0ZaIAVQAn0wAJAAoACwBY
				AFwAYKMAWQBaAFuAEoATgBSjAF0AXQBdgBWAFYAVgBZf
				EGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMv
				U2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5k
				ZXJzMjU0NjM1LmNsYWVzSi5pby9TaW5nbGVQYWdlU3Bs
				YXNoVGhlbWUvXxAvZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL0NsYWVzL1B1Ymxpc2hlZC9fEGdmaWxl
				Oi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMv
				UmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0
				NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFuZGVyVGhlbWUv
				CNIAIgAjAGYAZ18QE05TTXV0YWJsZURpY3Rpb25hcnmj
				AGYAaAAnXE5TRGljdGlvbmFyedIAIgAjAGoAa15SV1Np
				dGVSZXNvdXJjZaIAbAAnXlJXU2l0ZVJlc291cmNl2gAy
				ADMACwA0ADUANgATADcAOAA5ADoAOwA8AHEAOwBzAHQA
				dQB2AHcJgACAF4AcgACAHoAagBmAHYAbXxAkOTQyMTBC
				Q0UtOUJEOS00MDAxLTk3REEtRkRCRDlENzY1REFDXxAk
				cGhvdG8tMTQ5NTYwMzE1NzgwNy04NTM5ZTgwZGI2NzYu
				anBnXxCbaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2guY29t
				L3Bob3RvLTE0OTU2MDMxNTc4MDctODUzOWU4MGRiNjc2
				P2l4bGliPXJiLTEuMi4xJnE9ODAmZm09anBnJmNyb3A9
				ZW50cm9weSZjcz10aW55c3JnYiZ3PTEwODAmZml0PW1h
				eCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1ZlHTAEgA
				CwBJADsASwB3gACADoAb0gBRAAsAgABTI0HCiTwjzUIc
				gBDTAAkACgALAIMAhwBgowCEAIUAhoAfgCCAIaMAXQBd
				AF2AFYAVgBWAFl8QamZpbGU6Ly8vVXNlcnMvYW5kZXJz
				L0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDgl
				MjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL1Np
				bmdsZVBhZ2VTcGxhc2hUaGVtZS9fEC9maWxlOi8vL1Vz
				ZXJzL2FuZGVycy9Eb2N1bWVudHMvQ2xhZXMvUHVibGlz
				aGVkL18QZ2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3Vt
				ZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVz
				dC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpcGVM
				YW5kZXJUaGVtZS/aADIAMwALADQANQA2ABMANwA4ADkA
				OgA7ADwAkwA7AJUAlgCXAJgAmQmAAIAXgCaAAIAogCSA
				I4AngCVfECRFMUI1NUVDOS02RENDLTQwRkEtODYzNC0y
				RjZBNzJGNDg5MzhfECRwaG90by0xNTAwNjk5MjY1NDkx
				LTE5M2VkM2YxNTliMC5qcGdfEJtodHRwczovL2ltYWdl
				cy51bnNwbGFzaC5jb20vcGhvdG8tMTUwMDY5OTI2NTQ5
				MS0xOTNlZDNmMTU5YjA/aXhsaWI9cmItMS4yLjEmcT04
				MCZmbT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdi
				Jnc9MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNIQmZhV1Fp
				T2pFek1qUTVmUdMASAALAEkAOwBLAJmAAIAOgCXSAFEA
				CwCiAFMjQcKJPCPNQk6AENMACQAKAAsApQCpAGCjAKYA
				pwCogCmAKoArowBdAF0AXYAVgBWAFYAWXxBqZmlsZTov
				Ly9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1Jh
				cGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYz
				NS5jbGFlc0ouaW8vU2luZ2xlUGFnZVNwbGFzaFRoZW1l
				L18QL2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50
				cy9DbGFlcy9QdWJsaXNoZWQvXxBnZmlsZTovLy9Vc2Vy
				cy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2Vh
				dmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFl
				c0ouaW8vTXVsdGlwZUxhbmRlclRoZW1lL9oAMgAzAAsA
				NAA1ADYAEwA3ADgAOQA6ADsAPAC1ADsAtwC4ALkAugC7
				CYAAgBeAMIAAgDKALoAtgDGAL18QJDFGMzQzQjg1LTE1
				NzctNDUwMi04NTFGLUM1ODUzMzEzNTE4Q18QJHBob3Rv
				LTE1MTc4NTU2OTUzNDktNjEyOWNiYzgwYTBkLmpwZ18Q
				m2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90
				by0xNTE3ODU1Njk1MzQ5LTYxMjljYmM4MGEwZD9peGxp
				Yj1yYi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9wPWVudHJv
				cHkmY3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1tYXgmaXhp
				ZD1leUpoY0hCZmFXUWlPakV6TWpRNWZR0wBIAAsASQA7
				AEsAu4AAgA6AL9IAUQALAMQAUyNBwok8I81CcIAQ0wAJ
				AAoACwDHAMsAYKMAyADJAMqAM4A0gDWjAF0AXQBdgBWA
				FYAVgBZfEGpmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1
				bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rl
				c3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9TaW5nbGVQ
				YWdlU3BsYXNoVGhlbWUvXxAvZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL0NsYWVzL1B1Ymxpc2hlZC9f
				EGdmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMv
				U2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5k
				ZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFuZGVy
				VGhlbWUv2gAyADMACwA0ADUANgATADcAOAA5ADoAOwA8
				ANcAOwDZANoA2wDcAN0JgACAF4A6gACAPIA4gDeAO4A5
				XxAkRUM1QjU2MTctMTU1MC00NTU0LThDMEQtQTc5RDQ0
				NzMwRUIzXxAkcGhvdG8tMTQ5MDEwMDY2Nzk5MC00ZmNl
				ZDgwMjE2NDkuanBnXxCbaHR0cHM6Ly9pbWFnZXMudW5z
				cGxhc2guY29tL3Bob3RvLTE0OTAxMDA2Njc5OTAtNGZj
				ZWQ4MDIxNjQ5P2l4bGliPXJiLTEuMi4xJnE9ODAmZm09
				anBnJmNyb3A9ZW50cm9weSZjcz10aW55c3JnYiZ3PTEw
				ODAmZml0PW1heCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpN
				alE1ZlHTAEgACwBJADsASwDdgACADoA50gBRAAsA5gBT
				I0HCiTwjzUKagBDTAAkACgALAOkA6wBgoQDqgD2hAF2A
				FYAWXxBnZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1l
				bnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0
				L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlwZUxh
				bmRlclRoZW1lL9oAMgAzAAsANAA1ADYAEwA3ADgAOQA6
				ADsAPADzADsA9QD2APcA+AD5CYAAgBeAQoAAgESAQIA/
				gEOAQV8QJEE1MDA0MTU4LUNFRDgtNDMxNC1CNzdCLTFF
				RDg4QTRGMkRCQ18QJHBob3RvLTE0MjU5MTMzOTczMzAt
				Y2Y4YWYyZmY0MGExLmpwZ18Qm2h0dHBzOi8vaW1hZ2Vz
				LnVuc3BsYXNoLmNvbS9waG90by0xNDI1OTEzMzk3MzMw
				LWNmOGFmMmZmNDBhMT9peGxpYj1yYi0xLjIuMSZxPTgw
				JmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlueXNyZ2Im
				dz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hCZmFXUWlP
				akV6TWpRNWZR0wBIAAsASQA7AEsA+YAAgA6AQdIAUQAL
				AQIAUyNBwok8I81CxIAQ0wAJAAoACwEFAQcAYKEBBoBF
				oQBdgBWAFl8QZ2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0Rv
				Y3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAv
				VGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRp
				cGVMYW5kZXJUaGVtZS/SACIAIwEMAQ1cUldTaXRlRm9s
				ZGVyogEOACdcUldTaXRlRm9sZGVy0gAiACMAaAEQogBo
				ACdfEA9OU0tleWVkQXJjaGl2ZXLRARMBFFRyb290gAEA
				CAAZACIAKwA1ADoAPwDSANgA5QDtAPgA/wECAQQBBwEJ
				AQsBEAElASoBMAE7AUQBRgFIAUoBTAFOAXUBhwGQAZEB
				kwGcAacBsAG/AcYBzgHXAeAB7QHvAfEB8wH1AfcB+QH7
				AiQCMwI/AkwCWgJsAncCgQKLAowCjgKQApIClAKWApgC
				mgKcAp4CxQLsA4oDlwOfA6sDrQOvA7EDugPAA8UDzgPW
				A98D4QPqA/ED9gQDBAoEDAQOBBAEFwQZBBsEHQQfBIwE
				vgUoBSkFMgVIBU8FXAVlBXQFeQWIBbEFsgW0BbYFuAW6
				BbwFvgXABcIFxAXrBhIGsAa9Br8GwQbDBswG1QbXBuQG
				6wbtBu8G8Qb4BvoG/Ab+BwAHbQefCAkIMggzCDUINwg5
				CDsIPQg/CEEIQwhFCGwIkwkxCT4JQAlCCUQJTQlWCVgJ
				ZQlsCW4JcAlyCXkJewl9CX8JgQnuCiAKigqzCrQKtgq4
				CroKvAq+CsAKwgrECsYK7QsUC7ILvwvBC8MLxQvOC9cL
				2QvmC+0L7wvxC/ML+gv8C/4MAAwCDG8MoQ0LDTQNNQ03
				DTkNOw09DT8NQQ1DDUUNRw1uDZUOMw5ADkIORA5GDk8O
				WA5aDmcOag5sDm8OcQ5zDt0PBg8HDwkPCw8NDw8PEQ8T
				DxUPFw8ZD0APZxAFEBIQFBAWEBgQIRAqECwQORA8ED4Q
				QRBDEEUQrxC4EMUQyhDXEOAQ5RD3EPwRAQAAAAAAAAIC
				AAAAAAAAARUAAAAAAAAAAAAAAAAAABED
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>EC5B5617-1550-4554-8C0D-A79D44730EB3</string>
					<key>BaseURL</key>
					<string>https://www.claesj.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Claes J</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>claes.34@claesj.se</string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Theme Default</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va3gDAAAAAAQQMAAA
							AGYOm4r1ux9dzYiX4f+g
							5PAL1jF6S4HOmL2ZVCHB
							V9uwdAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAGFu
							ZGVycwAACQAAAAEBAABE
							b2N1bWVudHMAAAAFAAAA
							AQEAAFNpdGVzAAAADgAA
							AAEBAABSYXBpZHdlYXZl
							ciA4IAAABAAAAAEBAABU
							ZXN0FgAAAAEBAABhbmRl
							cnMyNTQ2MzUuY2xhZXNK
							LmlvAAASAAAAAQEAAE11
							bHRpcGVMYW5kZXJUaGVt
							ZQAAIAAAAAEGAAAQAAAA
							IAAAADAAAABEAAAAVAAA
							AGwAAAB4AAAAmAAAAAgA
							AAAEAwAA+WYCAAAAAAAI
							AAAABAMAAGo1CQAAAAAA
							CAAAAAQDAABrNQkAAAAA
							AAgAAAAEAwAA+e0TAAAA
							AAAIAAAABAMAABLejQEA
							AAAACAAAAAQDAAAd3o0B
							AAAAAAgAAAAEAwAAAIet
							AgAAAAAIAAAABAMAADxr
							rwIAAAAAIAAAAAEGAADc
							AAAA7AAAAPwAAAAMAQAA
							HAEAACwBAAA8AQAATAEA
							AAgAAAAABAAAQcKJIpkA
							AAAYAAAAAQIAAAIAAAAA
							AAAADwAAAAAAAAAAAAAA
							AAAAAAgAAAAEAwAABgAA
							AAAAAAAEAAAAAwMAAPUB
							AAAIAAAAAQkAAGZpbGU6
							Ly8vDAAAAAEBAABNYWNp
							bnRvc2ggSEQIAAAABAMA
							AAAAaCc6AAAACAAAAAAE
							AABBuV6xxgAAACQAAAAB
							AQAANUVDOUU4MkMtQzND
							NC0zQzE1LUI2NDUtMjM4
							MUJBRjQwQkREGAAAAAEC
							AACBAAAAAQAAAO8TAAAB
							AAAAAAAAAAAAAAABAAAA
							AQEAAC8AAAAAAAAAAQUA
							AMwAAAD+////AQAAAAAA
							AAAQAAAABBAAALQAAAAA
							AAAABRAAAFwBAAAAAAAA
							EBAAAJQBAAAAAAAAQBAA
							AIQBAAAAAAAAAiAAAGAC
							AAAAAAAABSAAANABAAAA
							AAAAECAAAOABAAAAAAAA
							ESAAABQCAAAAAAAAEiAA
							APQBAAAAAAAAEyAAAAQC
							AAAAAAAAICAAAEACAAAA
							AAAAMCAAAGwCAAAAAAAA
							AcAAALQBAAAAAAAAEcAA
							ACAAAAAAAAAAEsAAAMQB
							AAAAAAAAENAAAAQAAAAA
							AAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>ClaesJ Local file</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLanguage</key>
					<string>sv</string>
					<key>SloganText</key>
					<string>Legitimerad symbol terapeut…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Lander</string>
					<key>TitleText</key>
					<string>ClaesJ</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6877CEC4-04F8-4632-9D24-51943ECD6B81_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
