<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>build</key>
				<string>4813</string>
				<key>partialData</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGLS5YJHZlcnNpb25YJG9iamVj
				dHNZJGFyY2hpdmVyVCR0b3ASAAGGoKsHCA0UGCEiIyQl
				KVUkbnVsbNIJCgsMWk5TLm9iamVjdHNWJGNsYXNzoIAC
				0g4PEBFaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU011dGFi
				bGVTZXSjEBITVU5TU2V0WE5TT2JqZWN00hUKFhdZcmVz
				b3VyY2VzgASACtMZCQoaHSBXTlMua2V5c6IbHIAFgAai
				Hh+AB4AIgAlfECQ0M0U0RkNCMS01MDlELTRGQjQtOTNG
				My04QkEwQ0VGQTYzNjBfECRBMDlCQjRGMS0zMTdELTQw
				OTgtODU3OS0wMTYwN0MxREUwQjhfECQyN0UzRThFNS05
				M0RFLTQyNUMtOTJCOC04QzQ1RDNEOTc5MzRfECQ5MTM1
				QjFDMi01Q0VDLTREQzMtQjRDNi0yMzgzMjMyNEQyQzPS
				Dg8mJ18QE05TTXV0YWJsZURpY3Rpb25hcnmjJigTXE5T
				RGljdGlvbmFyedIODyorXxATWUhTaXRlSW1hZ2VSZXNv
				bHZlcqIsE18QE1lIU2l0ZUltYWdlUmVzb2x2ZXJfEA9O
				U0tleWVkQXJjaGl2ZXLSLzAxMlhyZXNvbHZlclhwYXJ0
				aWFsc4ADgAEACAARABoAIwAtADIANwBDAEkATgBZAGAA
				YQBjAGgAcwB8AIkAjQCTAJwAoQCrAK0ArwC2AL4AwQDD
				AMUAyADKAMwAzgD1ARwBQwFqAW8BhQGJAZYBmwGxAbQB
				ygHcAeEB6gHzAfUAAAAAAAACAQAAAAAAAAAzAAAAAAAA
				AAAAAAAAAAAB9w==
				</data>
				<key>version</key>
				<string>4.0.4</string>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>com.yourhead.stacksDocument</string>
</dict>
</plist>
