<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Minimum Application Version</key>
				<string>8.1</string>
				<key>PublishingManifests</key>
				<dict>
					<key>page0 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page0.css</key>
							<dict>
								<key>Digest</key>
								<data>
								NXxqoaedRwfK
								JcBOPVrBOA==
								</data>
								<key>Size</key>
								<integer>11</integer>
							</dict>
							<key>files/stacks_page_page0.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								PrMfC2uPc+XZ
								7GLiEboY5Q==
								</data>
								<key>Size</key>
								<integer>4075</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page0</string>
						<key>SiteRoot</key>
						<string>page</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>page1 - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/stacks_page_page1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								lH85Irb0FUDT
								FIndpcW+Kw==
								</data>
								<key>Size</key>
								<integer>1653</integer>
							</dict>
							<key>files/stacks_page_page1.js</key>
							<dict>
								<key>Digest</key>
								<data>
								/sVCkdFW9q/I
								jsYQMInoDw==
								</data>
								<key>Size</key>
								<integer>17</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								EhyB17mwh0JS
								Nlqt+pcE8g==
								</data>
								<key>Size</key>
								<integer>7408</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page1</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:document:extrafiles - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>rw_common/version.txt</key>
							<dict>
								<key>Digest</key>
								<data>
								65wOgUWxJqhz
								ktmLsf2Bww==
								</data>
								<key>Size</key>
								<integer>5</integer>
							</dict>
							<key>sitemap.xml</key>
							<dict>
								<key>Digest</key>
								<data>
								3HDlfs9Gt8XN
								yGJfwSTbKQ==
								</data>
								<key>Size</key>
								<integer>303</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:extrafiles</string>
						<key>SiteRoot</key>
						<string></string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>cloud.php</key>
							<dict>
								<key>Digest</key>
								<data>
								HooeGOe7KZ79
								r9MK1f85yQ==
								</data>
								<key>Size</key>
								<integer>9287</integer>
							</dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								2FOCSMwWzNmn
								jnICcIcADg==
								</data>
								<key>Size</key>
								<integer>1721</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>SiteRoot</key>
						<string>rw_common/plugins/stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:split - file:///Users/anders/Documents/Sites/Rapidweaver%208%20/Test/anders254635.claesJ.io/MultiPageSplitTheme/</key>
					<dict>
						<key>CreationDate</key>
						<date>2020-09-16T17:08:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>consolidated.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/k6VnXxv4lAI
								/Ju29QwPRA==
								</data>
								<key>Size</key>
								<integer>23077</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								nQMz0lOrJqhH
								dQvqEu8GfA==
								</data>
								<key>Size</key>
								<integer>21180</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								lGaWAv/l81kb
								SKqPsUrBgA==
								</data>
								<key>Size</key>
								<integer>65455</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								4a4aDLUdMo2b
								jgQm9Iub6Q==
								</data>
								<key>Size</key>
								<integer>39324</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								qwYW5thWgX7/
								VOuMXhZk5A==
								</data>
								<key>Size</key>
								<integer>23036</integer>
							</dict>
							<key>fonts/merriweather-v19-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								+TbLVQ1NzXaf
								dcRTIHrF5g==
								</data>
								<key>Size</key>
								<integer>18816</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Zrpqxza08MfK
								o7t6+EprLA==
								</data>
								<key>Size</key>
								<integer>35550</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								HXgmLdSaRneD
								BYLtlJu2pA==
								</data>
								<key>Size</key>
								<integer>64382</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								yjbxflLGbAyN
								7NCk4i289w==
								</data>
								<key>Size</key>
								<integer>90136</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								wUrJI5/rVoNZ
								n4Uk53jWHg==
								</data>
								<key>Size</key>
								<integer>43564</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-300.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								DoREqTebcz0V
								EiKaUnNzMA==
								</data>
								<key>Size</key>
								<integer>37772</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								Z7FdbiA4pbqm
								1zw2GBnSPA==
								</data>
								<key>Size</key>
								<integer>26824</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								IxBW5sIK1ojb
								93pCXVUu3g==
								</data>
								<key>Size</key>
								<integer>62973</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								Xxguw+pA9eLY
								c686iM3eVQ==
								</data>
								<key>Size</key>
								<integer>68740</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								sqGMmggMEr+I
								ahqvyVkz0A==
								</data>
								<key>Size</key>
								<integer>33116</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-700.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								Yrt32UeM8hWK
								P1muafiNGQ==
								</data>
								<key>Size</key>
								<integer>28608</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.eot</key>
							<dict>
								<key>Digest</key>
								<data>
								du7LwTaPje6X
								Xz18wM6AXA==
								</data>
								<key>Size</key>
								<integer>31312</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								PFHPleDPWyFF
								UQs2iCpm7Q==
								</data>
								<key>Size</key>
								<integer>63335</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.ttf</key>
							<dict>
								<key>Digest</key>
								<data>
								adBEqYpFnSpW
								dkkSC7Zgvw==
								</data>
								<key>Size</key>
								<integer>76684</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.woff</key>
							<dict>
								<key>Digest</key>
								<data>
								CK2dNxoVtvaV
								2GrzzV3o/Q==
								</data>
								<key>Size</key>
								<integer>38796</integer>
							</dict>
							<key>fonts/ubuntu-v11-latin-regular.woff2</key>
							<dict>
								<key>Digest</key>
								<data>
								wXdyRTJ77Hdf
								v5VcJLmLwQ==
								</data>
								<key>Size</key>
								<integer>34016</integer>
							</dict>
							<key>images/header.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								i6Zm6cRwE7ZX
								zcdSJty58Q==
								</data>
								<key>Size</key>
								<integer>459200</integer>
							</dict>
							<key>images/header2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								U8r1yYh+iisX
								+wMi6yHfsA==
								</data>
								<key>Size</key>
								<integer>248958</integer>
							</dict>
							<key>images/header3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								QzuikVTUkzk+
								MIbXftZVJg==
								</data>
								<key>Size</key>
								<integer>449480</integer>
							</dict>
							<key>images/header4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								eAiL0scKxONI
								Tg90dFhemw==
								</data>
								<key>Size</key>
								<integer>419703</integer>
							</dict>
							<key>images/icon-menu.svg</key>
							<dict>
								<key>Digest</key>
								<data>
								sAeJzqsYwAJe
								cESOoxKs8A==
								</data>
								<key>Size</key>
								<integer>677</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								6UR3sfOVg8L3
								EmSZBtot1w==
								</data>
								<key>Size</key>
								<integer>8911</integer>
							</dict>
							<key>jquery.js</key>
							<dict>
								<key>Digest</key>
								<data>
								VDIv7VBTRRKG
								g/HTJGCLcQ==
								</data>
								<key>Size</key>
								<integer>96294</integer>
							</dict>
							<key>js/modernizr.js</key>
							<dict>
								<key>Digest</key>
								<data>
								lEiDkJvqdghl
								tNB9FR5nvQ==
								</data>
								<key>Size</key>
								<integer>11578</integer>
							</dict>
							<key>js/yuzoolthemes.js</key>
							<dict>
								<key>Digest</key>
								<data>
								9Tn0tGoLoGe8
								u4QsIjaSnA==
								</data>
								<key>Size</key>
								<integer>740</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:split</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/split</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>RWFileReferences</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAAEAAgADAAQABQAGAVkBWlgkdmVyc2lv
				blgkb2JqZWN0c1kkYXJjaGl2ZXJUJHRvcBIAAYagrxBg
				AAcACAARABIAHAAdAB4AIQAoADEARABFAEYARwBNAFAA
				VABXAGkAagBrAGwAbQBuAG8AcABxAHUAeQCEAIUAhgCH
				AIsAjgCgAKEAogCjAKQApQCmAKcAsgCzALQAtQC5ALwA
				zgDPANAA0QDSANMA1ADVAOAA4QDiAOMA5wDqAPwA/QD+
				AP8BAAEBAQIBAwEOAQ8BEAERARUBGAEmAScBKAEpASoB
				KwE2ATcBOAE5AT0BQAFOAU8BUAFRAVIBUwFXVSRudWxs
				0wAJAAoACwAMAA4AEFdOUy5rZXlzWk5TLm9iamVjdHNW
				JGNsYXNzoQANgAKhAA+AA4BfVG5vZGXVABMAFAAVABYA
				CwAXABgAGQAaABtUTmFtZVVpdGVtc1ppZGVudGlmaWVy
				WGNoaWxkcmVugAWACIAEgAaAXl8QJDRENkY4NjQ0LUQ3
				MkEtNEM2OS1CMjcyLTg1N0Y3NDQ1MkZEM18QD1VudGl0
				bGVkIEZvbGRlctIACgALAB8AIKCAB9IAIgAjACQAJVok
				Y2xhc3NuYW1lWCRjbGFzc2VzXk5TTXV0YWJsZUFycmF5
				owAkACYAJ1dOU0FycmF5WE5TT2JqZWN00gAKAAsAKQAg
				pgAqACsALAAtAC4AL4AJgByAKoA4gEaAUoAH2gAyADMA
				CwA0ADUANgATADcAOAA5ADoAOwA8AD0AOwA/AEAAQQBC
				AENeUmVtb3RlUmVzb3VyY2VbT3JpZ2luYWxVUkxcUHVi
				bGlzaGVkVVJMXVB1Ymxpc2hlZERhdGVfEA9DaGFuZ2Vk
				U3RhdHVzZXNaSWRlbnRpZmllcllUaW1lU3RhbXBZRmls
				ZVRva2VuCYAAgBuADYAAgBGAC4AKgA+ADF8QJDgwMjgy
				Q0JFLTEzRDEtNDFBOS05QzI0LTk5MkQ0ODIyODNEM18Q
				JHBob3RvLTE1ODAzNDY1ODUwOTAtOTU0NjMxM2Q0NDlh
				LmpwZ18Qm2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNv
				bS9waG90by0xNTgwMzQ2NTg1MDkwLTk1NDYzMTNkNDQ5
				YT9peGxpYj1yYi0xLjIuMSZxPTgwJmZtPWpwZyZjcm9w
				PWVudHJvcHkmY3M9dGlueXNyZ2Imdz0xMDgwJmZpdD1t
				YXgmaXhpZD1leUpoY0hCZmFXUWlPakV6TWpRNWZR0wBI
				AAsASQA7AEsAQ1dOUy5iYXNlW05TLnJlbGF0aXZlgACA
				DoAM0gAiACMATgBPVU5TVVJMogBOACfSAFEACwBSAFNX
				TlMudGltZSNBwok/An2MCYAQ0gAiACMAVQBWVk5TRGF0
				ZaIAVQAn0wAJAAoACwBYAGAAaKcAWQBaAFsAXABdAF4A
				X4ASgBOAFIAVgBaAF4AYpwBhAGEAYQBhAGEAYQBhgBmA
				GYAZgBmAGYAZgBmAGl8QaGZpbGU6Ly8vVXNlcnMvYW5k
				ZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUy
				MDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlv
				L011bHRpUGFnZUtpY2tpVGhlbWUvXxBqZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlk
				d2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5j
				bGFlc0ouaW8vTXVsdGlQYWdlT2Zmcm9hZFRoZW1lL18Q
				amZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9T
				aXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRl
				cnMyNTQ2MzUuY2xhZXNKLmlvL1NpbmdsZVBhZ2VTcGxh
				c2hUaGVtZS9fEGpmaWxlOi8vL1VzZXJzL2FuZGVycy9E
				b2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIw
				L1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0
				aVBhZ2VWb3lhZ2VyVGhlbWUvXxAvZmlsZTovLy9Vc2Vy
				cy9hbmRlcnMvRG9jdW1lbnRzL0NsYWVzL1B1Ymxpc2hl
				ZC9fEGdmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVu
				dHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3Qv
				YW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aXBlTGFu
				ZGVyVGhlbWUvXxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUy
				MC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVs
				dGlQYWdlU3BsaXRUaGVtZS8I0gAiACMAcgBzXxATTlNN
				dXRhYmxlRGljdGlvbmFyeaMAcgB0ACdcTlNEaWN0aW9u
				YXJ50gAiACMAdgB3XlJXU2l0ZVJlc291cmNlogB4ACde
				UldTaXRlUmVzb3VyY2XaADIAMwALADQANQA2ABMANwA4
				ADkAOgA7ADwAfQA7AH8AgACBAIIAgwmAAIAbgCCAAIAi
				gB6AHYAhgB9fECQ5NDIxMEJDRS05QkQ5LTQwMDEtOTdE
				QS1GREJEOUQ3NjVEQUNfECRwaG90by0xNDk1NjAzMTU3
				ODA3LTg1MzllODBkYjY3Ni5qcGdfEJtodHRwczovL2lt
				YWdlcy51bnNwbGFzaC5jb20vcGhvdG8tMTQ5NTYwMzE1
				NzgwNy04NTM5ZTgwZGI2NzY/aXhsaWI9cmItMS4yLjEm
				cT04MCZmbT1qcGcmY3JvcD1lbnRyb3B5JmNzPXRpbnlz
				cmdiJnc9MTA4MCZmaXQ9bWF4Jml4aWQ9ZXlKaGNIQmZh
				V1FpT2pFek1qUTVmUdMASAALAEkAOwBLAIOAAIAOgB/S
				AFEACwCMAFMjQcKJPwJ9jI+AENMACQAKAAsAjwCXAGin
				AJAAkQCSAJMAlACVAJaAI4AkgCWAJoAngCiAKacAYQBh
				AGEAYQBhAGEAYYAZgBmAGYAZgBmAGYAZgBpfEGhmaWxl
				Oi8vL1VzZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMv
				UmFwaWR3ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0
				NjM1LmNsYWVzSi5pby9NdWx0aVBhZ2VLaWNraVRoZW1l
				L18QamZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50
				cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9h
				bmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpUGFnZU9m
				ZnJvYWRUaGVtZS9fEGpmaWxlOi8vL1VzZXJzL2FuZGVy
				cy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4
				JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9T
				aW5nbGVQYWdlU3BsYXNoVGhlbWUvXxBqZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlk
				d2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5j
				bGFlc0ouaW8vTXVsdGlQYWdlVm95YWdlclRoZW1lL18Q
				L2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9D
				bGFlcy9QdWJsaXNoZWQvXxBnZmlsZTovLy9Vc2Vycy9h
				bmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVy
				JTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ou
				aW8vTXVsdGlwZUxhbmRlclRoZW1lL18QaGZpbGU6Ly8v
				VXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBp
				ZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUu
				Y2xhZXNKLmlvL011bHRpUGFnZVNwbGl0VGhlbWUv2gAy
				ADMACwA0ADUANgATADcAOAA5ADoAOwA8AKsAOwCtAK4A
				rwCwALEJgACAG4AugACAMIAsgCuAL4AtXxAkRTFCNTVF
				QzktNkRDQy00MEZBLTg2MzQtMkY2QTcyRjQ4OTM4XxAk
				cGhvdG8tMTUwMDY5OTI2NTQ5MS0xOTNlZDNmMTU5YjAu
				anBnXxCbaHR0cHM6Ly9pbWFnZXMudW5zcGxhc2guY29t
				L3Bob3RvLTE1MDA2OTkyNjU0OTEtMTkzZWQzZjE1OWIw
				P2l4bGliPXJiLTEuMi4xJnE9ODAmZm09anBnJmNyb3A9
				ZW50cm9weSZjcz10aW55c3JnYiZ3PTEwODAmZml0PW1h
				eCZpeGlkPWV5SmhjSEJmYVdRaU9qRXpNalE1ZlHTAEgA
				CwBJADsASwCxgACADoAt0gBRAAsAugBTI0HCiT8CfYzB
				gBDTAAkACgALAL0AxQBopwC+AL8AwADBAMIAwwDEgDGA
				MoAzgDSANYA2gDenAGEAYQBhAGEAYQBhAGGAGYAZgBmA
				GYAZgBmAGYAaXxBoZmlsZTovLy9Vc2Vycy9hbmRlcnMv
				RG9jdW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUy
				MC9UZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVs
				dGlQYWdlS2lja2lUaGVtZS9fEGpmaWxlOi8vL1VzZXJz
				L2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2
				ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVz
				Si5pby9NdWx0aVBhZ2VPZmZyb2FkVGhlbWUvXxBqZmls
				ZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVz
				L1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1
				NDYzNS5jbGFlc0ouaW8vU2luZ2xlUGFnZVNwbGFzaFRo
				ZW1lL18QamZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3Vt
				ZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVz
				dC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpUGFn
				ZVZveWFnZXJUaGVtZS9fEC9maWxlOi8vL1VzZXJzL2Fu
				ZGVycy9Eb2N1bWVudHMvQ2xhZXMvUHVibGlzaGVkL18Q
				Z2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9T
				aXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRl
				cnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpcGVMYW5kZXJU
				aGVtZS9fEGhmaWxlOi8vL1VzZXJzL2FuZGVycy9Eb2N1
				bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIlMjA4JTIwL1Rl
				c3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5pby9NdWx0aVBh
				Z2VTcGxpdFRoZW1lL9oAMgAzAAsANAA1ADYAEwA3ADgA
				OQA6ADsAPADZADsA2wDcAN0A3gDfCYAAgBuAPIAAgD6A
				OoA5gD2AO18QJDFGMzQzQjg1LTE1NzctNDUwMi04NTFG
				LUM1ODUzMzEzNTE4Q18QJHBob3RvLTE1MTc4NTU2OTUz
				NDktNjEyOWNiYzgwYTBkLmpwZ18Qm2h0dHBzOi8vaW1h
				Z2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTE3ODU1Njk1
				MzQ5LTYxMjljYmM4MGEwZD9peGxpYj1yYi0xLjIuMSZx
				PTgwJmZtPWpwZyZjcm9wPWVudHJvcHkmY3M9dGlueXNy
				Z2Imdz0xMDgwJmZpdD1tYXgmaXhpZD1leUpoY0hCZmFX
				UWlPakV6TWpRNWZR0wBIAAsASQA7AEsA34AAgA6AO9IA
				UQALAOgAUyNBwok/An2M9IAQ0wAJAAoACwDrAPMAaKcA
				7ADtAO4A7wDwAPEA8oA/gECAQYBCgEOARIBFpwBhAGEA
				YQBhAGEAYQBhgBmAGYAZgBmAGYAZgBmAGl8QaGZpbGU6
				Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9S
				YXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2
				MzUuY2xhZXNKLmlvL011bHRpUGFnZUtpY2tpVGhlbWUv
				XxBqZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRz
				L1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2Fu
				ZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlT2Zm
				cm9hZFRoZW1lL18QamZpbGU6Ly8vVXNlcnMvYW5kZXJz
				L0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDgl
				MjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL1Np
				bmdsZVBhZ2VTcGxhc2hUaGVtZS9fEGpmaWxlOi8vL1Vz
				ZXJzL2FuZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3
				ZWF2ZXIlMjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNs
				YWVzSi5pby9NdWx0aVBhZ2VWb3lhZ2VyVGhlbWUvXxAv
				ZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL0Ns
				YWVzL1B1Ymxpc2hlZC9fEGdmaWxlOi8vL1VzZXJzL2Fu
				ZGVycy9Eb2N1bWVudHMvU2l0ZXMvUmFwaWR3ZWF2ZXIl
				MjA4JTIwL1Rlc3QvYW5kZXJzMjU0NjM1LmNsYWVzSi5p
				by9NdWx0aXBlTGFuZGVyVGhlbWUvXxBoZmlsZTovLy9V
				c2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlk
				d2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5j
				bGFlc0ouaW8vTXVsdGlQYWdlU3BsaXRUaGVtZS/aADIA
				MwALADQANQA2ABMANwA4ADkAOgA7ADwBBwA7AQkBCgEL
				AQwBDQmAAIAbgEqAAIBMgEiAR4BLgElfECRFQzVCNTYx
				Ny0xNTUwLTQ1NTQtOEMwRC1BNzlENDQ3MzBFQjNfECRw
				aG90by0xNDkwMTAwNjY3OTkwLTRmY2VkODAyMTY0OS5q
				cGdfEJtodHRwczovL2ltYWdlcy51bnNwbGFzaC5jb20v
				cGhvdG8tMTQ5MDEwMDY2Nzk5MC00ZmNlZDgwMjE2NDk/
				aXhsaWI9cmItMS4yLjEmcT04MCZmbT1qcGcmY3JvcD1l
				bnRyb3B5JmNzPXRpbnlzcmdiJnc9MTA4MCZmaXQ9bWF4
				Jml4aWQ9ZXlKaGNIQmZhV1FpT2pFek1qUTVmUdMASAAL
				AEkAOwBLAQ2AAIAOgEnSAFEACwEWAFMjQcKJPwJ9jR6A
				ENMACQAKAAsBGQEfAGilARoBGwEcAR0BHoBNgE6AT4BQ
				gFGlAGEAYQBhAGEAYYAZgBmAGYAZgBmAGl8QaGZpbGU6
				Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRlcy9S
				YXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2
				MzUuY2xhZXNKLmlvL011bHRpUGFnZUtpY2tpVGhlbWUv
				XxBqZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRz
				L1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9UZXN0L2Fu
				ZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQYWdlT2Zm
				cm9hZFRoZW1lL18QaGZpbGU6Ly8vVXNlcnMvYW5kZXJz
				L0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZlciUyMDgl
				MjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011
				bHRpUGFnZVNwbGl0VGhlbWUvXxBqZmlsZTovLy9Vc2Vy
				cy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1JhcGlkd2Vh
				dmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYzNS5jbGFl
				c0ouaW8vTXVsdGlQYWdlVm95YWdlclRoZW1lL18QZ2Zp
				bGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9TaXRl
				cy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRlcnMy
				NTQ2MzUuY2xhZXNKLmlvL011bHRpcGVMYW5kZXJUaGVt
				ZS/aADIAMwALADQANQA2ABMANwA4ADkAOgA7ADwBLwA7
				ATEBMgEzATQBNQmAAIAbgFaAAIBYgFSAU4BXgFVfECRB
				NTAwNDE1OC1DRUQ4LTQzMTQtQjc3Qi0xRUQ4OEE0RjJE
				QkNfECRwaG90by0xNDI1OTEzMzk3MzMwLWNmOGFmMmZm
				NDBhMS5qcGdfEJtodHRwczovL2ltYWdlcy51bnNwbGFz
				aC5jb20vcGhvdG8tMTQyNTkxMzM5NzMzMC1jZjhhZjJm
				ZjQwYTE/aXhsaWI9cmItMS4yLjEmcT04MCZmbT1qcGcm
				Y3JvcD1lbnRyb3B5JmNzPXRpbnlzcmdiJnc9MTA4MCZm
				aXQ9bWF4Jml4aWQ9ZXlKaGNIQmZhV1FpT2pFek1qUTVm
				UdMASAALAEkAOwBLATWAAIAOgFXSAFEACwE+AFMjQcKJ
				PwJ9jUeAENMACQAKAAsBQQFHAGilAUIBQwFEAUUBRoBZ
				gFqAW4BcgF2lAGEAYQBhAGEAYYAZgBmAGYAZgBmAGl8Q
				aGZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50cy9T
				aXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9hbmRl
				cnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpUGFnZUtpY2tp
				VGhlbWUvXxBqZmlsZTovLy9Vc2Vycy9hbmRlcnMvRG9j
				dW1lbnRzL1NpdGVzL1JhcGlkd2VhdmVyJTIwOCUyMC9U
				ZXN0L2FuZGVyczI1NDYzNS5jbGFlc0ouaW8vTXVsdGlQ
				YWdlT2Zmcm9hZFRoZW1lL18QaGZpbGU6Ly8vVXNlcnMv
				YW5kZXJzL0RvY3VtZW50cy9TaXRlcy9SYXBpZHdlYXZl
				ciUyMDglMjAvVGVzdC9hbmRlcnMyNTQ2MzUuY2xhZXNK
				LmlvL011bHRpUGFnZVNwbGl0VGhlbWUvXxBqZmlsZTov
				Ly9Vc2Vycy9hbmRlcnMvRG9jdW1lbnRzL1NpdGVzL1Jh
				cGlkd2VhdmVyJTIwOCUyMC9UZXN0L2FuZGVyczI1NDYz
				NS5jbGFlc0ouaW8vTXVsdGlQYWdlVm95YWdlclRoZW1l
				L18QZ2ZpbGU6Ly8vVXNlcnMvYW5kZXJzL0RvY3VtZW50
				cy9TaXRlcy9SYXBpZHdlYXZlciUyMDglMjAvVGVzdC9h
				bmRlcnMyNTQ2MzUuY2xhZXNKLmlvL011bHRpcGVMYW5k
				ZXJUaGVtZS/SACIAIwFUAVVcUldTaXRlRm9sZGVyogFW
				ACdcUldTaXRlRm9sZGVy0gAiACMAdAFYogB0ACdfEA9O
				U0tleWVkQXJjaGl2ZXLRAVsBXFRyb290gAEACAAZACIA
				KwA1ADoAPwECAQgBFQEdASgBLwEyATQBNwE5ATsBQAFV
				AVoBYAFrAXQBdgF4AXoBfAF+AaUBtwHAAcEBwwHMAdcB
				4AHvAfYB/gIHAhACHQIfAiECIwIlAicCKQIrAlQCYwJv
				AnwCigKcAqcCsQK7ArwCvgLAAsICxALGAsgCygLMAs4C
				9QMcA7oDxwPPA9sD3QPfA+ED6gPwA/UD/gQGBA8EEQQa
				BCEEJgQzBEIERARGBEgESgRMBE4EUARfBGEEYwRlBGcE
				aQRrBG0EbwTaBUcFtAYhBlMGvQcoBykHMgdIB08HXAdl
				B3QHeQeIB7EHsge0B7YHuAe6B7wHvgfAB8IHxAfrCBII
				sAi9CL8IwQjDCMwI1QjXCOQI8wj1CPcI+Qj7CP0I/wkB
				CRAJEgkUCRYJGAkaCRwJHgkgCYsJ+AplCtILBAtuC9kM
				AgwDDAUMBwwJDAsMDQwPDBEMEwwVDDwMYw0BDQ4NEA0S
				DRQNHQ0mDSgNNQ1EDUYNSA1KDUwNTg1QDVINYQ1jDWUN
				Zw1pDWsNbQ1vDXEN3A5JDrYPIw9VD78QKhBTEFQQVhBY
				EFoQXBBeEGAQYhBkEGYQjRC0EVIRXxFhEWMRZRFuEXcR
				eRGGEZURlxGZEZsRnRGfEaERoxGyEbQRthG4EboRvBG+
				EcARwhItEpoTBxN0E6YUEBR7FKQUpRSnFKkUqxStFK8U
				sRSzFLUUtxTeFQUVoxWwFbIVtBW2Fb8VyBXKFdcV4hXk
				FeYV6BXqFewV9xX5FfsV/RX/FgEWAxZuFtsXRhezGB0Y
				RhhHGEkYSxhNGE8YURhTGFUYVxhZGIAYpxlFGVIZVBlW
				GVgZYRlqGWwZeRmEGYYZiBmKGYwZjhmZGZsZnRmfGaEZ
				oxmlGhAafRroG1UbvxvIG9Ub2hvnG/Ab9RwHHAwcEQAA
				AAAAAAICAAAAAAAAAV0AAAAAAAAAAAAAAAAAABwT
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>AnonymiseThirdPartyRequests</key>
					<false/>
					<key>BannerIdentifier</key>
					<string>EC5B5617-1550-4554-8C0D-A79D44730EB3</string>
					<key>BaseURL</key>
					<string>https://www.claesj.com/</string>
					<key>ConsolidateCSSFiles</key>
					<true/>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2020 Claes J</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<true/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>claes.34@claesj.se</string>
					<key>MostRecentlySelectedThemeStyle</key>
					<string>Kicki Theme Green</string>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PrivacyMessage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGCAlYJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKEHVSRudWxsXxAPTlNLZXllZEFyY2hpdmVy
					0QoLVHJvb3SAAAgRGiMtMjc5P1FUWQAAAAAA
					AAEBAAAAAAAAAAwAAAAAAAAAAAAAAAAAAABb
					</data>
					<key>PrivacyMessageDismissButtonTitle</key>
					<string>Dismiss</string>
					<key>PublishingDestinations</key>
					<array>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>automaticallyConfigured</key>
							<false/>
							<key>backupFrequency</key>
							<integer>0</integer>
							<key>connectionMode</key>
							<integer>0</integer>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>fileSystemPathBookmark</key>
							<data>
							Ym9va3gDAAAAAAQQMAAA
							AAxiSQ6rupxqyY7yWGO8
							Q3ACgtHEaiOSsdDFOPpx
							nG8+dAIAAAQAAAADAwAA
							AAgAKAUAAAABAQAAVXNl
							cnMAAAAGAAAAAQEAAGFu
							ZGVycwAACQAAAAEBAABE
							b2N1bWVudHMAAAAFAAAA
							AQEAAFNpdGVzAAAADgAA
							AAEBAABSYXBpZHdlYXZl
							ciA4IAAABAAAAAEBAABU
							ZXN0FgAAAAEBAABhbmRl
							cnMyNTQ2MzUuY2xhZXNK
							LmlvAAATAAAAAQEAAE11
							bHRpUGFnZVNwbGl0VGhl
							bWUAIAAAAAEGAAAQAAAA
							IAAAADAAAABEAAAAVAAA
							AGwAAAB4AAAAmAAAAAgA
							AAAEAwAA+WYCAAAAAAAI
							AAAABAMAAGo1CQAAAAAA
							CAAAAAQDAABrNQkAAAAA
							AAgAAAAEAwAA+e0TAAAA
							AAAIAAAABAMAABLejQEA
							AAAACAAAAAQDAAAd3o0B
							AAAAAAgAAAAEAwAAAIet
							AgAAAAAIAAAABAMAAEGy
							rwIAAAAAIAAAAAEGAADc
							AAAA7AAAAPwAAAAMAQAA
							HAEAACwBAAA8AQAATAEA
							AAgAAAAABAAAQcKJPv2A
							AAAYAAAAAQIAAAIAAAAA
							AAAADwAAAAAAAAAAAAAA
							AAAAAAgAAAAEAwAABgAA
							AAAAAAAEAAAAAwMAAPUB
							AAAIAAAAAQkAAGZpbGU6
							Ly8vDAAAAAEBAABNYWNp
							bnRvc2ggSEQIAAAABAMA
							AAAAaCc6AAAACAAAAAAE
							AABBuV6xxgAAACQAAAAB
							AQAANUVDOUU4MkMtQzND
							NC0zQzE1LUI2NDUtMjM4
							MUJBRjQwQkREGAAAAAEC
							AACBAAAAAQAAAO8TAAAB
							AAAAAAAAAAAAAAABAAAA
							AQEAAC8AAAAAAAAAAQUA
							AMwAAAD+////AQAAAAAA
							AAAQAAAABBAAALQAAAAA
							AAAABRAAAFwBAAAAAAAA
							EBAAAJQBAAAAAAAAQBAA
							AIQBAAAAAAAAAiAAAGAC
							AAAAAAAABSAAANABAAAA
							AAAAECAAAOABAAAAAAAA
							ESAAABQCAAAAAAAAEiAA
							APQBAAAAAAAAEyAAAAQC
							AAAAAAAAICAAAEACAAAA
							AAAAMCAAAGwCAAAAAAAA
							AcAAALQBAAAAAAAAEcAA
							ACAAAAAAAAAAEsAAAMQB
							AAAAAAAAENAAAAQAAAAA
							AAAA
							</data>
							<key>hasPublishedContent</key>
							<true/>
							<key>ignoreCertificateErrors</key>
							<false/>
							<key>label</key>
							<string>ClaesJ Local file</string>
							<key>maxConnections</key>
							<integer>6</integer>
							<key>path</key>
							<string></string>
							<key>server</key>
							<string></string>
							<key>serverConfigurationVersions</key>
							<array/>
							<key>type</key>
							<integer>0</integer>
							<key>useSSLOption</key>
							<integer>2</integer>
							<key>user</key>
							<string></string>
							<key>websiteAddress</key>
							<string></string>
						</dict>
					</array>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>RememberPrivacyMessageDismissed</key>
					<false/>
					<key>SelectedPublishingDestinationIndex</key>
					<integer>0</integer>
					<key>SettingsPlugins</key>
					<array/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowPrivacyMessage</key>
					<false/>
					<key>SiteLanguage</key>
					<string>sv</string>
					<key>SloganText</key>
					<string>Legitimerad symbol terapeut…</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string>Engineer</string>
					<key>TitleText</key>
					<string>ClaesJ</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UniqueBackupName</key>
					<string>6877CEC4-04F8-4632-9D24-51943ECD6B81_rwbackup</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>autoStartWebServer</key>
					<false/>
					<key>globalBody</key>
					<string></string>
					<key>globalCSS</key>
					<string></string>
					<key>globalHeader</key>
					<string></string>
					<key>globalJavascript</key>
					<string></string>
					<key>globalPrefix</key>
					<string></string>
					<key>hasChangedGlobalBody</key>
					<true/>
					<key>hasChangedGlobalCSS</key>
					<false/>
					<key>hasChangedGlobalHeader</key>
					<true/>
					<key>hasChangedGlobalJavascript</key>
					<false/>
					<key>hasChangedGlobalPrefix</key>
					<true/>
					<key>iconPackage</key>
					<data>
					YnBsaXN0MDDUAQIDBAUGHh9YJHZlcnNpb25Y
					JG9iamVjdHNZJGFyY2hpdmVyVCR0b3ASAAGG
					oKUHCA0TGlUkbnVsbNIJCgsMWmRpY3Rpb25h
					cnlWJGNsYXNzgAKABNMODwoQERJXTlMua2V5
					c1pOUy5vYmplY3RzoKCAA9IUFRYXWiRjbGFz
					c25hbWVYJGNsYXNzZXNfEBNOU011dGFibGVE
					aWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlY
					TlNPYmplY3TSFBUbHF5XZWJJY29uUGFja2Fn
					ZaIdGV5XZWJJY29uUGFja2FnZV8QD05TS2V5
					ZWRBcmNoaXZlctEgIVRyb290gAEACAARABoA
					IwAtADIANwA9AEMASABTAFoAXABeAGUAbQB4
					AHkAegB8AIEAjACVAKsArwC8AMUAygDZANwA
					6wD9AQABBQAAAAAAAAIBAAAAAAAAACIAAAAA
					AAAAAAAAAAAAAAEH
					</data>
					<key>minifyExtraFiles</key>
					<true/>
					<key>useCacheBusting</key>
					<true/>
					<key>useDocumentPortability</key>
					<true/>
					<key>useSocialTags</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
				<string>Resources</string>
				<string>SharedPluginData</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
